/*  Joomla editor extra styling klasses */
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}
.btn-primary {
   background-color: #d00;
   border-color: #d00;
}
.btn-default {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}
.lead, .introtekst {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    }
    @media (min-width: 768px) {
    .lead {
        font-size: 21px;
    }
}
small,
.small, .klein {
    font-size: 85%;
}
mark,
.mark, .gemarkeerd {
    padding: .2em;
    background-color: #ffcccc;
}