@charset "UTF-8";
/*!
 * Master Bootstrap3 (http://www.masterbootstrap.com)
 * Copyright 2013-20156 gsuez.cl.
 * Licensed under GPL v2 (http://www.gnu.org/licenses/gpl-2.0.html)
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700");
/*CONTACT FORM*/
.accordion {
  margin-bottom: 30px; }

.accordion-group {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 2px; }

.accordion-heading {
  border-bottom: 0 none; }

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px; }

.accordion-toggle {
  cursor: pointer; }

.accordion-inner {
  border-top: 1px solid #e5e5e5;
  padding: 9px 15px; }

.form-horizontal .control-label {
  /* float: left;*/
  padding-top: 5px;
  text-align: right;
  width: 160px; }

.form-horizontal .control-label {
  margin-bottom: 0;
  padding-top: 7px;
  text-align: right; }

.form-horizontal .form-actions {
  padding-left: 160px; }

/*CONTACT FORM*/
.hm_blog_list .blog_grid_con .meta, .post_title_con .meta {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  font-size: 13px;
  font-style: italic;
  margin-bottom: 17px;
  padding-bottom: 11px; }

.clearfix::after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.clearfix {
  display: block; }

/*LAYOUT BOXED*/
.layout-boxed {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 1240px;
  background: #fff; }

/*TITLE MODULE*/
.module-title .title {
  margin: 0 0 20px;
  padding-bottom: 9px; }

/*LINK TRANS*/
a {
  text-decoration: none;
  transition: all 0.3s ease 0s; }

a:focus, a:hover {
  text-decoration: none; }

/*TAGS CLUDS*/
.module-content .tagspopular ul li {
  display: inline-block; }

.module-content > .tagspopular ul li::before {
  content: none; }

/*CALENDARIO*/
.calendar {
  margin: 5px 0 0 1px !important; }

.calendar table {
  border: 0 none !important; }

.calendar .button {
  border: 0 none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  display: table-cell !important;
  margin: 0 !important;
  padding: 2px !important;
  text-align: center !important; }

.calendar thead .hilite {
  padding: 1px !important; }

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border-top: 1px solid #ddd;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top; }

.calendar, .calendar table {
  width: 100%; }

/*LISTAS EN MODULOS*/
.module-content ul li::before {
  content: "\e080";
  font-family: glyphicons halflings; }

.module-content ul {
  margin: 0;
  padding: 0; }

.module-content ul li {
  list-style: outside none none;
  margin: 0;
  padding: 2px 0; }

.navbar-default .nav-header {
  padding: 5px 20px;
  display: block;
  font-weight: bold;
  line-height: 20px; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: inline-block;
  font-size: 100%;
  /*height: 34px;*/
  line-height: 1.42857;
  min-width: 100px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  /* width: 100%;*/ }

.manager.thumbnails li {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  display: block;
  float: left;
  height: 80px;
  line-height: 18px;
  position: relative;
  text-align: center;
  width: 80px;
  padding: 4px; }

.manager.thumbnails li .height-50 {
  height: 50px;
  margin-bottom: 4px;
  margin-top: 4px; }

.thumbnails::before, .thumbnails::after {
  content: "";
  display: table;
  line-height: 0; }

.thumbnails::after {
  clear: both; }

.thumbnails::before, .thumbnails::after {
  content: "";
  display: table;
  line-height: 0; }

.manager.thumbnails {
  list-style: outside none none;
  margin: 0 0 0 -20px;
  padding: 0; }

.window .window-mainbody {
  padding: 20px; }

.center, .table td.center, .table th.center {
  text-align: center; }

#editor-xtd-buttons .btn, .toggle-editor .btn {
  background-color: #ffffff;
  border-color: #cccccc;
  text-shadow: 0 1px 0 #fff;
  margin: 5px; }

.thumbnails > li {
  float: left;
  margin-bottom: 18px;
  margin-left: 20px; }

.thumbnail {
  margin-bottom: 9px; }

.height-80 {
  height: 80px; }

.width-80 {
  width: 80px; }

.center, .table td.center, .table th.center {
  text-align: center; }

#wrap .element-invisible {
  display: none; }

/*SEARCH PAGE*/
.search .phrases .phrases-box .controls label {
  display: inline-block;
  margin: 0 20px 20px; }

.search .only label {
  display: inline-block;
  margin: 0 20px 20px; }

html {
  overflow-y: scroll; }

body {
  background-color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px; }

img {
  max-width: 100%; }

#top {
  color: #ddd;
  font-size: 12px;
  line-height: 30px;
  padding-bottom: 4px;
  padding-top: 4px; }

#top .container .separator {
  border-left: 1px solid #CCCCCC;
  display: inline-block;
  height: 10px;
  margin: 0 20px;
  width: 1px; }

#navigation {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0 !important; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  outline: medium none; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  outline: medium none; }

.navbar-nav > li > a {
  line-height: inherit !important; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent !important; }

.dropdown-menu {
  padding: 0px !important;
  border-radius: 0 !important; }

.dropdown .dropdown-menu {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease 0s; }

.dropdown.open .dropdown-menu {
  max-height: 200px;
  opacity: 1; }

.navbar-right .dropdown-menu {
  left: 0 !important;
  right: auto !important; }

#main-box {
  background: transparent none repeat scroll 0 0;
  border: 0px solid #E5E5E5;
  /* border 1, if you have front component*/
  margin-bottom: 20px;
  padding: 10px 0px; }

#main {
  padding-top: 20px; }

#breadcrumbs {
  background: #f5f5f5;
  padding: 20px 0 0; }

.breadcrumb {
  border-radius: 0px;
  margin-bottom: 0; }

#breadcrumbs .moduletable {
  margin-bottom: 0;
  padding: 0; }

.toppad {
  padding-top: 40px; }

#fullwidth {
  /*margin-top: -20px;*/
  overflow: hidden; }

#fullwidth .moduletable {
  border: 0;
  padding: 0;
  margin-bottom: 20px; }

.black .moduletable {
  background: none repeat scroll 0 0 #222222;
  border-color: #222222;
  color: #AAAAAA; }

.moduletable {
  margin-bottom: 20px;
  padding: 20px 10px; }

.panel.moduletable {
  padding: 0; }

.panel .moduletable {
  box-shadow: none;
  margin: 0px 10px;
  padding: 10px; }

#brand {
  float: left;
  padding-left: 15px;
  padding-top: 5px; }

#brand img {
  padding-bottom: 10px;
  padding-top: 20px; }

.page-header {
  margin: 10px 0 20px !important; }

.hasTooltip {
  display: inline !important; }

.noMainbody {
  display: none !important; }

ul.unstyled,
ol.unstyled {
  list-style: outside none none;
  margin-left: 0;
  padding: 0; }

.checkbox label, .radio label {
  padding-left: 20px;
  padding-right: 10px; }

label {
  display: block;
  margin-bottom: 5px; }

label,
input,
button,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 26px;
  font-family: arial; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

.control-group input, .control-group textarea, .control-group .uneditable-input {
  /*width: 100% !important */ }

.contact-form .control-group input, .contact-form .control-group textarea, .contact-form .control-group .uneditable-input {
  /*width: inherit;*/ }

input, textarea, .uneditable-input {
  /*width: 220px;*/ }

.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
  border-radius: 0 3px 3px 0; }

.input-append .add-on, .input-append .btn, .input-append .btn-group {
  margin-left: -1px; }

.input-append .add-on, .input-append .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .add-on, .input-prepend .btn, .input-prepend .btn-group > .dropdown-toggle {
  border-radius: 0;
  vertical-align: top; }

.email-copy-input {
  float: left; }

#pop-print {
  float: right;
  margin: 10px; }

div#jform_catid_chzn.chzn-container, div#jform_catid_chzn.chzn-container div.chzn-drop, div#jform_state_chzn.chzn-container, div#jform_state_chzn.chzn-container div.chzn-drop, div#jform_featured_chzn.chzn-container, div#jform_featured_chzn.chzn-container div.chzn- drop, div#jform_access_chzn.chzn-container, div#jform_access_chzn.chzn-container div.chzn-drop, div#jform_metadata_tags_chzn.chzn-container, div#jform_metadata_tags_chzn.chzn-container div.chzn-drop, div#jform_language_chzn.chzn- container, div#jform_language_chzn.chzn-container div.chzn-drop, div#jform_language_chzn.chzn-container, div#jform_tags_chzn.chzn-container {
  width: 260px !important; }

.control-group {
  margin-bottom: 15px; }

.btn.modal {
  bottom: auto;
  display: inline;
  left: auto;
  position: relative;
  top: auto; }

#imageForm .well {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px; }

#imageForm .pull-right {
  float: right; }

#imageForm .row::before, #imageForm .row::after {
  content: "";
  display: table;
  line-height: 0; }

#imageForm .row::after {
  clear: both; }

#imageForm .row::before, #imageForm .row::after {
  content: "";
  display: table;
  line-height: 0; }

body #overall {
  height: auto;
  overflow: hidden; }

#print {
  height: auto;
  overflow: hidden; }

/*MATERIAL DESIGN*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(http://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale; }

.muted {
  color: #999; }

html,
body {
  height: 100%; }

/* Wrapper for page content to push down footer */
#wrap {
  height: auto !important;
  margin: 0 auto 0px;
  min-height: 100%; }

body #wrap {
  padding-top: 90px; }

#copy.well {
  border-radius: 0;
  border: 0;
  margin: 0; }

#footer .moduletable {
  border: 0; }

#main #container {
  background-color: #fff; }

#push {
  height: 60px; }

/* LAYOUT */
/* Floats */
.float-left {
  float: left; }

.float-right {
  float: right; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.ie7 .group {
  zoom: 1; }

/* JOOMLA */
.form-horizontal .control-label {
  text-align: inherit !important; }

i.icon-calendar:before {
  content: "\1f4c5";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  top: 1px; }

div.contact-form-field label,
div.message-label label {
  display: inline !important; }

div#jform_tags_chzn.chzn-container ul.chzn-choices li.search-field input.default {
  padding: 0; }

.control-group input[type="checkbox"] {
  width: 10px !important; }

.btn-toolbar {
  margin-bottom: 20px; }

.nav.nav-tabs {
  margin-bottom: 20px; }

/*ERROR*/
.error-page-inner {
  display: table;
  height: 100%;
  min-height: 100%;
  text-align: center;
  width: 100%; }

.error-code {
  font-size: 96px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0; }

.error-page-inner .fa.fa-exclamation-triangle {
  font-size: 96px;
  line-height: 1;
  margin-bottom: 10px; }

/*MB STYLE*/
.title, .component-content h2 {
  text-shadow: none; }

.title-line {
  background: none repeat scroll 0 0 #d1d1d1;
  height: 2px;
  margin-bottom: 20px;
  width: 100%; }

.title-line span {
  display: block;
  height: 2px;
  width: 90px;
  background: #428bca; }

.title1 .title-line, .title2 .title-line, .title3 .title-line, .title4 .title-line, .title6 .title-line, .box3 .title-line, .box4 .title-line {
  display: none; }

.title1 .title {
  background: url(../images/bg-h3.gif) repeat-x scroll 0 100% transparent;
  border-bottom: none;
  padding-bottom: 20px; }

.title2 .title {
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 15px;
  margin-bottom: 20px; }

.title3 .title {
  padding-bottom: 15px;
  margin-bottom: 20px; }

.title4 .title {
  background: url(../images/divider.png) repeat-x scroll center center transparent;
  border-bottom: none !important;
  margin-bottom: 25px; }

.title4 .title span {
  background: #ffffff;
  padding-right: 15px; }

#rt-footer .title4 .title span {
  background: #262626; }

#rt-maintop .title4 .title span, #rt-bottom .title4 .title span {
  background: #f6f6f6; }

.title5 .title {
  background: url(../images/cat-bg-repeat.png) repeat-x scroll center center transparent;
  padding-bottom: 0 !important;
  border-bottom: none !important; }

.title > span {
  background: none repeat scroll 0 0 transparent; }

span.fa {
  padding-right: 10px; }

.title6 .title {
  border-bottom: 2px solid #1d6fa5;
  padding-bottom: 15px;
  margin-bottom: 20px; }

.box1 .moduletable {
  background: #eee; }

.box2 .moduletable {
  background: #363636;
  color: #adadad; }

.blog-more {
  padding: 10px 5px; }

/*TO TOP*/
.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 0px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 12px;
  padding: 1em;
  display: none; }

.back-to-top:hover {
  background-color: rgba(135, 135, 135, 0.5); }

.error .container {
  display: table;
  height: 100%;
  min-height: 100%;
  text-align: center;
  width: 100%;
  padding: 200px 0; }

.error .container h1 {
  font-size: 140px; }

.navbar-toggle {
  margin-top: 15px !important;
  padding: 15px !important;
  border: medium none !important;
  border-radius: 0important; }

/*for headroom.js*/
.headroom {
  transition: transform 200ms linear; }

.headroom--pinned {
  transform: translateY(0%); }

.headroom--unpinned {
  transform: translateY(-100%); }

.header {
  background-color: inherit;
  line-height: 60px; }

.header__link {
  border: 0 none;
  color: #fff;
  text-decoration: none; }

.header__link:focus {
  background-color: rgba(78, 205, 196, 0.1);
  outline: 0 none; }

.header__link:hover .icon {
  color: #4ecdc4; }

.header--fixed {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10; }

/*OFFLINE*/
#frame input.inputbox {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  border-radius: 4px; }

#frame {
  margin-top: 100px; }

/* Media Queries */
/* Retina */
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .navbar-nav > li > a {
    line-height: 30px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important; }
  .layout-boxed .header--fixed {
    width: 100% !important;
    left: auto !important;
    right: auto !important; }
  body #wrap {
    padding-top: 70px !important; } }

/* Portrait tablet to landscape and desktop */
/* Large desktop */
@media (min-width: 1200px) {
  section {
    margin-top: auto; }
  .layout-boxed .header--fixed {
    width: 1240px;
    left: auto;
    right: auto; } }

/* Fix disappearing tabs on editor page - Added by Waseem Sadiq 8th March 2015*/
.icons .btn-group,
.icons .btn-group a[data-toggle="tab"][aria-expanded="false"],
ul.nav-tabs > li > a[data-toggle="tab"][aria-expanded="false"] {
  display: block !important; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  /*  float: left;
    position: relative !important;
    margin-left: 0 !important;*/ }

.checkbox label, .radio label {
  padding-left: 20px;
  padding-right: 10px; }

label {
  display: block;
  margin-bottom: 5px; }

label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  font-family: arial; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

.control-group input, .control-group textarea, .control-group .uneditable-input {
  /*width: 100% !important */ }

.contact-form .control-group input, .contact-form .control-group textarea, .contact-form .control-group .uneditable-input {
  width: 100%; }

.email-copy-input {
  float: left; }

.control-group .control-label {
  padding-top: 7px;
  padding-bottom: 7px; }

div#jform_catid_chzn.chzn-container,
div#jform_catid_chzn.chzn-container div.chzn-drop,
div#jform_state_chzn.chzn-container,
div#jform_state_chzn.chzn-container div.chzn-drop,
div#jform_featured_chzn.chzn-container,
div#jform_featured_chzn.chzn-container div.chzn- drop,
div#jform_access_chzn.chzn-container,
div#jform_access_chzn.chzn-container div.chzn-drop,
div#jform_metadata_tags_chzn.chzn-container,
div#jform_metadata_tags_chzn.chzn-container div.chzn-drop,
div#jform_language_chzn.chzn-container div.chzn-drop,
div#jform_language_chzn.chzn-container,
div#jform_tags_chzn.chzn-container {
  width: 260px !important; }

.chzn-container-single .chzn-single {
  width: 140px; }

.chzn-container .chzn-drop {
  width: 100px; }

@-ms-viewport {
  width: device-width; }

.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

/**
 * material-design-lite - Material Design Components in CSS, JS and HTML
 * @version v1.1.1
 * @license Apache-2.0
 * @copyright 2015 Google, Inc.
 * @link https://github.com/google/material-design-lite
 */
html {
  color: rgba(0, 0, 0, 0.87); }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

fieldset,
hr {
  border: 0;
  padding: 0; }

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 1em 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  margin: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0; }

.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

@media print {
  *,
  *:after,
  *:before,
  *:first-letter,
  *:first-line {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  blockquote,
  pre {
    border: 1px solid #999; }
  thead {
    display: table-header-group; }
  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.mdl-accordion,
.mdl-button,
.mdl-card,
.mdl-checkbox,
.mdl-dropdown-menu,
.mdl-icon-toggle,
.mdl-item,
.mdl-radio,
.mdl-slider,
.mdl-switch,
.mdl-tabs__tab,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

body,
html {
  width: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  min-height: 100%;
  margin: 0; }

main {
  display: block; }

*[hidden] {
  display: none !important; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0; }

h1,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  letter-spacing: -.02em;
  line-height: 1.35; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: 400;
  opacity: .54;
  font-size: .6em; }

h1,
h2 {
  font-weight: 400; }

h1 {
  margin: 24px 0;
  font-size: 56px; }

h2,
h3 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  margin: 24px 0; }

h2 {
  font-size: 45px;
  line-height: 48px; }

h3,
h4 {
  font-weight: 400; }

h3 {
  font-size: 34px;
  line-height: 40px; }

h4,
h5 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif; }

h4 {
  -moz-osx-font-smoothing: grayscale;
  margin: 24px 0 16px;
  font-size: 24px;
  line-height: 32px; }

h5,
h6,
p {
  margin: 24px 0 16px; }

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .02em; }

blockquote,
h6 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif; }

h6,
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .04em; }

p {
  font-size: 14px;
  letter-spacing: 0;
  margin: 0 0 16px; }

a {
  color: #ff4081;
  font-weight: 500; }

blockquote {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.35;
  letter-spacing: .08em; }

blockquote:before {
  position: absolute;
  left: -.5em;
  content: '“'; }

blockquote:after {
  content: '”';
  margin-left: -.05em; }

mark {
  background-color: #f4ff81; }

dt {
  font-weight: 700; }

address,
ol,
ul {
  font-weight: 400;
  letter-spacing: 0; }

address {
  font-style: normal;
  font-size: 12px;
  line-height: 1; }

ol,
ul {
  font-size: 14px;
  line-height: inherit; }

::selection {
  background: #ffcccc; }

p, button, input, label, select, textarea {
  font-family: "Lato", Helvetica, "Helvetica Neue", Arial, sans-serif; }

a {
  transition: all .3s ease-in-out;
  color: #dd0000; }
  a:focus, a:hover {
    color: #dd0000;
    text-decoration: none; }

body {
  color: #000;
  background-color: #cdcdcd;
  font-family: "Lato", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

.btn {
  border-radius: 0; }

#wrap {
  user-select: auto !important; }

table {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.3125rem; }
  @media (min-width: 360px) {
    table {
      font-size: 16px;
      font-size: calc(0.55633vw + 14px - 0.00556 * 360px);
      line-height: 26.7px;
      line-height: calc(1.58554vw + 21px - 0.01586 * 360px); } }
  @media (min-width: 1080px) {
    table {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 2.025rem; } }

#brand {
  float: left;
  padding-left: 0;
  padding-top: 0;
  background: #000;
  width: 67px;
  height: 67px;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0; }
  @media (min-width: 992px) {
    #brand {
      width: 90px;
      height: 90px;
      left: auto; } }
  @media (min-width: 1200px) {
    #brand {
      width: 120px;
      height: 120px; } }
  #brand img {
    padding: 0;
    width: 67px !important;
    height: 67px !important; }
    @media (min-width: 992px) {
      #brand img {
        width: 90px !important;
        height: 90px !important; } }
    @media (min-width: 1200px) {
      #brand img {
        width: 120px !important;
        height: 120px !important; } }

.mm-listview > li > a.search {
  text-indent: -100px; }
  .mm-listview > li > a.search::before {
    text-indent: 0;
    float: left; }

.navbar-default {
  border: none;
  background-color: rgba(255, 255, 255, 0.75); }
  .navbar-default .caret {
    margin-bottom: 4px;
    margin-left: 4px; }

.navbar-default .navbar-nav > li > a {
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 700;
  padding: 15px 10px; }
  @media (min-width: 360px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 16px;
      font-size: calc(0.55633vw + 14px - 0.00556 * 360px);
      line-height: 26.7px;
      line-height: calc(1.58554vw + 21px - 0.01586 * 360px); } }
  @media (min-width: 1080px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 2.025rem; } }
  .navbar-default .navbar-nav > li > a:hover {
    color: #000; }
  .navbar-default .navbar-nav > li > a.search {
    font-family: 'FontAwesome';
    overflow: hidden;
    width: 25px; }
  .navbar-default .navbar-nav > li > a::before {
    font-family: 'FontAwesome'; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #dd0000 !important; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #dd0000; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: #dd0000; }

.dropdown-menu > li > a {
  color: #000;
  font-size: 14px;
  padding: 10px 20px; }
  .dropdown-menu > li > a::before {
    font-family: 'FontAwesome'; }

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #000;
  background-color: #ffcccc; }

.dropdown.open .dropdown-menu {
  max-height: 250px; }

.navbar-toggle {
  border-radius: 0; }

#main-box {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    #main-box {
      float: left;
      width: 83.33333%; } }
  @media (min-width: 992px) {
    #main-box {
      margin-left: 8.33333%; } }
  @media (min-width: 1200px) {
    #main-box {
      float: left;
      width: 66.66667%; } }
  @media (min-width: 1200px) {
    #main-box {
      margin-left: 16.66667%; } }
  @media (min-width: 992px) {
    #main-box {
      min-height: 500px; } }

.breadcrumb {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .breadcrumb {
      float: left;
      width: 75%; } }
  @media (min-width: 992px) {
    .breadcrumb {
      float: left;
      width: 58.33333%; } }
  @media (min-width: 992px) {
    .breadcrumb {
      margin-left: 8.33333%; } }
  @media (min-width: 1200px) {
    .breadcrumb {
      float: left;
      width: 50%; } }
  @media (min-width: 1200px) {
    .breadcrumb {
      margin-left: 16.66667%; } }

.searchbar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .searchbar {
      float: left;
      width: 25%; } }
  @media (min-width: 992px) {
    .searchbar {
      float: left;
      width: 25%; } }
  @media (min-width: 1200px) {
    .searchbar {
      float: left;
      width: 16.66667%; } }

#mod-search-searchword {
  width: 100%; }

#main-box {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden; }
  #main-box p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5rem; }
    @media (min-width: 360px) {
      #main-box p {
        font-size: 17px;
        font-size: calc(0.27816vw + 16px - 0.00278 * 360px);
        line-height: 28.2px;
        line-height: calc(1.16829vw + 24px - 0.01168 * 360px); } }
    @media (min-width: 1080px) {
      #main-box p {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 2.025rem; } }
  #main-box .page-header {
    padding-bottom: 0;
    border-bottom: none; }
    #main-box .page-header h1, #main-box .page-header h2 {
      text-align: left;
      font-size: 36px;
      font-size: 2.25rem; }
      @media (min-width: 768px) {
        #main-box .page-header h1, #main-box .page-header h2 {
          text-align: center; } }
      @media (min-width: 360px) {
        #main-box .page-header h1, #main-box .page-header h2 {
          font-size: 45px;
          font-size: calc(2.50348vw + 36px - 0.02503 * 360px); } }
      @media (min-width: 1080px) {
        #main-box .page-header h1, #main-box .page-header h2 {
          font-size: 54px;
          font-size: 3.375rem; } }
    #main-box .page-header h1 {
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto; }
      @media (min-width: 768px) {
        #main-box .page-header h1 {
          -ms-word-break: normal;
          word-break: normal;
          word-break: normal; } }
  #main-box .item-image {
    margin-bottom: 20px; }

.pagination-wrapper {
  text-align: center; }

#breadcrumbs {
  padding: 10px 0; }
  #breadcrumbs img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

#fullwidth {
  margin-top: -90px; }
  #fullwidth .row {
    margin-left: 0;
    margin-right: 0; }
  #fullwidth .moduletable, #fullwidth p {
    margin-bottom: 0; }
  #fullwidth img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    object-fit: cover; }

#home #fullwidth .moduletable {
  margin-bottom: 0; }

#home #showcase .moduletable {
  padding: 20px 0; }

#showcase {
  background: url("../images/showcase-bg.svg");
  background-size: cover; }
  #showcase .kalender h3.title {
    text-align: center; }
    @media (min-width: 992px) {
      #showcase .kalender h3.title {
        text-align: left; } }
    @media (min-width: 1200px) {
      #showcase .kalender h3.title {
        color: #ffffff;
        text-align: right; } }
  #showcase .latest-events h3.title {
    text-align: center; }
    @media (min-width: 992px) {
      #showcase .latest-events h3.title {
        text-align: left; } }

#clubnieuws #main-box,
#competitienieuws #main-box,
#competitieverslagen #main-box,
#toernooiverslagen #main-box,
#sticky #main-box,
#wide #main-box {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 992px) {
    #clubnieuws #main-box,
    #competitienieuws #main-box,
    #competitieverslagen #main-box,
    #toernooiverslagen #main-box,
    #sticky #main-box,
    #wide #main-box {
      float: left;
      width: 100%; } }
  @media (min-width: 992px) {
    #clubnieuws #main-box,
    #competitienieuws #main-box,
    #competitieverslagen #main-box,
    #toernooiverslagen #main-box,
    #sticky #main-box,
    #wide #main-box {
      margin-left: 0%; } }

#clubnieuws #main-box [class^="item-"],
#competitienieuws #main-box [class^="item-"],
#competitieverslagen #main-box [class^="item-"],
#toernooiverslagen #main-box [class^="item-"],
#sticky #main-box [class^="item-"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    #clubnieuws #main-box [class^="item-"],
    #competitienieuws #main-box [class^="item-"],
    #competitieverslagen #main-box [class^="item-"],
    #toernooiverslagen #main-box [class^="item-"],
    #sticky #main-box [class^="item-"] {
      float: left;
      width: 83.33333%; } }
  @media (min-width: 992px) {
    #clubnieuws #main-box [class^="item-"],
    #competitienieuws #main-box [class^="item-"],
    #competitieverslagen #main-box [class^="item-"],
    #toernooiverslagen #main-box [class^="item-"],
    #sticky #main-box [class^="item-"] {
      margin-left: 8.33333%; } }
  @media (min-width: 1200px) {
    #clubnieuws #main-box [class^="item-"],
    #competitienieuws #main-box [class^="item-"],
    #competitieverslagen #main-box [class^="item-"],
    #toernooiverslagen #main-box [class^="item-"],
    #sticky #main-box [class^="item-"] {
      float: left;
      width: 66.66667%; } }
  @media (min-width: 1200px) {
    #clubnieuws #main-box [class^="item-"],
    #competitienieuws #main-box [class^="item-"],
    #competitieverslagen #main-box [class^="item-"],
    #toernooiverslagen #main-box [class^="item-"],
    #sticky #main-box [class^="item-"] {
      margin-left: 16.66667%; } }

#agenda #jevents_body #jev_maincal {
  margin-top: 20px;
  border: none;
  background-color: transparent; }
  #agenda #jevents_body #jev_maincal * {
    font-size: 14px;
    line-height: 30px; }
  #agenda #jevents_body #jev_maincal.jev_listview .jev_listrow {
    border: 4px solid #000;
    margin-bottom: 10px; }
    #agenda #jevents_body #jev_maincal.jev_listview .jev_listrow li {
      border-width: 0px 0px 0px 20px !important;
      padding-left: 10px; }
      #agenda #jevents_body #jev_maincal.jev_listview .jev_listrow li a.ev_link_row:link, #agenda #jevents_body #jev_maincal.jev_listview .jev_listrow li a.ev_link_row:visited, #agenda #jevents_body #jev_maincal.jev_listview .jev_listrow li a.ev_link_row:hover {
        font-size: 18px !important;
        color: #000;
        text-decoration: none;
        font-weight: 700;
        font-family: 'Montserrat';
        text-transform: uppercase; }
      #agenda #jevents_body #jev_maincal.jev_listview .jev_listrow li a.ev_link_row:hover, #agenda #jevents_body #jev_maincal.jev_listview .jev_listrow li a.ev_link_row:focus {
        color: #dd0000; }
  #agenda #jevents_body #jev_maincal.jev_listview .jev_daysnames {
    background-color: #000;
    border-color: #000;
    color: #fff;
    width: 130px;
    padding: 10px;
    height: auto;
    line-height: 20px; }

#jevents #jevents_body .contentpaneopen table,
#jevents #jevents_body .contentpaneopen p {
  line-height: 24px; }

#jevents .jevbootstrap h2 {
  font-family: "Montserrat";
  text-align: left;
  font-weight: 400;
  font-size: 36px;
  font-size: 2.25rem; }
  @media (min-width: 360px) {
    #jevents .jevbootstrap h2 {
      font-size: 45px;
      font-size: calc(2.50348vw + 36px - 0.02503 * 360px); } }
  @media (min-width: 1080px) {
    #jevents .jevbootstrap h2 {
      font-size: 54px;
      font-size: 3.375rem; } }
  @media (min-width: 768px) {
    #jevents .jevbootstrap h2 {
      text-align: center; } }

#jevents .jev_toprow div.previousmonth,
#jevents .jev_toprow div.nextmonth {
  background-color: #dd0000;
  border-color: #dd0000;
  border-radius: 0; }

#jevents div.previousmonth {
  margin-left: 0; }

#jevents .jev_toprow div.currentmonth {
  width: 50%; }

#jevents .new-navigation {
  margin-top: 20px; }

#jevents #jevents_body .jev_evdt {
  padding: 0; }

#jevents .jev_evdt .jev_evdt_title {
  font-family: "Montserrat";
  text-align: left;
  font-weight: 400;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-size: 36px;
  font-size: 2.25rem;
  padding-bottom: 10px; }
  @media (min-width: 360px) {
    #jevents .jev_evdt .jev_evdt_title {
      font-size: 45px;
      font-size: calc(2.50348vw + 36px - 0.02503 * 360px); } }
  @media (min-width: 1080px) {
    #jevents .jev_evdt .jev_evdt_title {
      font-size: 54px;
      font-size: 3.375rem; } }
  @media (min-width: 768px) {
    #jevents .jev_evdt .jev_evdt_title {
      text-align: center; } }

#jevents .jev_evdt_header {
  margin-bottom: 10px 0 20px !important; }

#jevents #nav-search a::before {
  content: "\f002";
  font-size: 24px;
  font-family: FontAwesome; }

#jevents #nav-search a img {
  display: none; }

#jevents .jevbootstrap a:hover,
#jevents .jevbootstrap a:focus {
  text-decoration: none !important; }

#jevents .nav-items > div {
  border-color: #dd0000; }

#jevents #jevents_body {
  border: none;
  background-color: #ffffff;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px; }
  #jevents #jevents_body .month_date {
    padding-left: 0; }
  #jevents #jevents_body .nav-items > div:first-child,
  #jevents #jevents_body .nav-items > div:last-child {
    border-radius: 0;
    border-color: #dd0000; }
  #jevents #jevents_body .nav-items div.active a,
  #jevents #jevents_body .jev_header2 .active a {
    background-color: #dd0000;
    color: #FFF; }
  #jevents #jevents_body .nav-items > div a {
    padding: 7px 12px 7px 12px; }
    #jevents #jevents_body .nav-items > div a:hover {
      background-color: #dd0000;
      border-left: 1px solid #dd0000;
      text-decoration: none;
      color: #ffffff;
      border-radius: 0; }
  #jevents #jevents_body .jev_evdt_creator,
  #jevents #jevents_body .jev_evdt_hits {
    display: none; }
  #jevents #jevents_body .jev_evdt_location .location {
    font-weight: bold; }
  #jevents #jevents_body .jev_evdt_extrainf {
    font-style: italic; }

#jevents .jevbootstrap img {
  display: inline-block;
  float: left;
  width: 100%;
  margin-bottom: 20px; }

#jevents #eventlist {
  margin-bottom: 20px; }

#jevents .jevbootstrap * {
  border-radius: 0; }

#jevents .jev_eventdetails_body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5rem; }
  @media (min-width: 360px) {
    #jevents .jev_eventdetails_body {
      font-size: 17px;
      font-size: calc(0.27816vw + 16px - 0.00278 * 360px);
      line-height: 28.2px;
      line-height: calc(1.16829vw + 24px - 0.01168 * 360px); } }
  @media (min-width: 1080px) {
    #jevents .jev_eventdetails_body {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 2.025rem; } }

#flatcal_minical .flatcal_daycell,
#flatcal_minical .flatcal_todaycell,
#flatcal_minical .flatcal_sundaycell,
#flatcal_minical .flatcal_othermonth,
#flatcal_minical .flatcal_weekdays {
  font-family: "Montserrat";
  font-size: 12px !important; }

#flatcal_minical .flatcal_month_label {
  font-family: "Montserrat";
  font-size: 18px !important; }

#flatcal_minical .flatcal_month_label,
#flatcal_minical .flatcal_daycell {
  color: #000 !important; }

#flatcal_minical .flatcal_sundaycell {
  color: #ffcccc !important; }

#flatcal_minical .flatcal_month_label {
  width: 80%; }
  #flatcal_minical .flatcal_month_label a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #dd0000 !important; }

#flatcal_minical TD.flatcal_weekdays {
  font-weight: 700 !important; }

#flatcal_minical .flatcal_busylink:link,
#flatcal_minical .flatcal_busylink:visited {
  color: #dd0000 !important;
  font-size: 12px !important; }

#flatcal_minical .flatcal_todaycell {
  color: #777777 !important; }

#flatcal_minical .flatcal_navbar {
  border-bottom: none !important;
  background-color: #f3f3f3 !important; }

table.mod_events_latest_table {
  border: 4px solid #000 !important; }
  table.mod_events_latest_table tbody > tr > td {
    padding: 8px 13px;
    transition: all .3s ease-in-out; }
    table.mod_events_latest_table tbody > tr > td:hover {
      background: #f3f3f3; }
  table.mod_events_latest_table td {
    border-color: #000 !important; }
  table.mod_events_latest_table a {
    font-size: 18px;
    font-family: "Montserrat";
    color: #000; }
    table.mod_events_latest_table a:hover {
      color: #dd0000;
      text-decoration: none; }

.mod_events_latest_callink {
  margin-top: 10px;
  padding-left: 18px; }
  .mod_events_latest_callink::before {
    content: '\f178';
    width: 15px;
    font-family: 'FontAwesome'; }
  .mod_events_latest_callink a {
    color: #000;
    margin-left: 10px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5rem; }
    @media (min-width: 360px) {
      .mod_events_latest_callink a {
        font-size: 17px;
        font-size: calc(0.27816vw + 16px - 0.00278 * 360px);
        line-height: 28.2px;
        line-height: calc(1.16829vw + 24px - 0.01168 * 360px); } }
    @media (min-width: 1080px) {
      .mod_events_latest_callink a {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 2.025rem; } }
    .mod_events_latest_callink a:hover {
      color: #dd0000; }

table.flatcal_main_t {
  border: 4px solid #000 !important; }
  table.flatcal_main_t .full_cal_link {
    display: none; }
  table.flatcal_main_t tbody > tr > td {
    padding: 13px; }

td.link_prev, td.link_next {
  padding: 0 !important;
  margin: 0; }

img.mod_events_link {
  width: 100%;
  position: relative; }
  img.mod_events_link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: red; }

.jevbootstrap [class^="icon-"], .jevbootstrap [class*=" icon-"] {
  margin-right: 8px !important; }

#table-wide table {
  width: 100%; }

#bottom {
  background: #f3f3f3; }
  #bottom .moduletable {
    margin-bottom: 0; }
  #bottom .sponsor img {
    height: auto; }
  #bottom .sponsor .item {
    background: #ffffff;
    border: 1px solid transparent; }

#footer {
  background: #dd0000; }
  #footer .container {
    position: relative; }
  #footer .moduletable {
    margin-bottom: 0; }
  #footer a, #footer a:hover {
    color: #000;
    text-decoration: underline; }
  #footer p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5rem; }
    @media (min-width: 360px) {
      #footer p {
        font-size: 17px;
        font-size: calc(0.27816vw + 16px - 0.00278 * 360px);
        line-height: 28.2px;
        line-height: calc(1.16829vw + 24px - 0.01168 * 360px); } }
    @media (min-width: 1080px) {
      #footer p {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 2.025rem; } }
  @media (min-width: 0) and (max-width: 1199px) {
    #footer h4 {
      margin-top: 0; }
    #footer p {
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    #footer {
      background: url("../images/footer-bg.svg");
      background-size: cover; } }
  #footer .footer-left .moduletable {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      #footer .footer-left .moduletable {
        margin-left: 33.33333%; } }
    @media (min-width: 992px) {
      #footer .footer-left .moduletable {
        float: left;
        width: 66.66667%; } }
    @media (min-width: 1200px) {
      #footer .footer-left .moduletable {
        margin-left: 16.66667%; } }
    @media (min-width: 1200px) {
      #footer .footer-left .moduletable {
        float: left;
        width: 50%; } }
  #footer .footer-right .moduletable {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      #footer .footer-right .moduletable {
        margin-left: 33.33333%; } }
    @media (min-width: 1200px) {
      #footer .footer-right .moduletable {
        margin-left: 8.33333%; } }
    @media (min-width: 1200px) {
      #footer .footer-right .moduletable {
        float: left;
        width: 25%; } }
  @media (min-width: 768px) {
    #footer .beeldmerk {
      width: 190px;
      height: 384px;
      display: block;
      background: url("../images/ttvv_beeldmerk.svg");
      background-size: 190px 384px;
      position: absolute;
      bottom: -6px; } }

#copy .container {
  border-top: 2px solid black; }

#copy .copy .moduletable {
  margin-bottom: 0;
  padding: 10px; }
  #copy .copy .moduletable p {
    margin: 0; }

.pager li > a, .pager li > span {
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  color: #000;
  margin-bottom: 20px;
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36); }
  @media (min-width: 0) and (max-width: 991px) {
    .pager li > a, .pager li > span {
      width: 100%; } }
  .pager li > a:hover, .pager li > span:hover {
    box-shadow: #ffcccc 0 0 0 20px inset; }

/*TO TOP*/
.back-to-top {
  bottom: 2em;
  right: 2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.1em 1em;
  display: none;
  font-size: 6px;
  text-decoration: none; }
  .back-to-top:hover, .back-to-top:active, .back-to-top:focus {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: #fff; }
  .back-to-top::before {
    content: "\f077";
    font-size: 30px;
    font-family: FontAwesome; }

.sponsorlink a, .sponsorlink a:hover {
  color: #000; }

.sponsorlink span i {
  vertical-align: sub;
  font-size: 24px; }

.line-clamp, #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap p, #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a, #clubnieuws #main-box .item .page-header h2,
#competitienieuws #main-box .item .page-header h2,
#competitieverslagen #main-box .item .page-header h2,
#toernooiverslagen #main-box .item .page-header h2,
#sticky #main-box .item .page-header h2, #clubnieuws #main-box .item p:first-of-type,
#competitienieuws #main-box .item p:first-of-type,
#competitieverslagen #main-box .item p:first-of-type,
#toernooiverslagen #main-box .item p:first-of-type,
#sticky #main-box .item p:first-of-type {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important; }

.line-clamp:after, #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap p:after, #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a:after, #clubnieuws #main-box .item .page-header h2:after,
#competitienieuws #main-box .item .page-header h2:after,
#competitieverslagen #main-box .item .page-header h2:after,
#toernooiverslagen #main-box .item .page-header h2:after,
#sticky #main-box .item .page-header h2:after, #clubnieuws #main-box .item p:first-of-type:after,
#competitienieuws #main-box .item p:first-of-type:after,
#competitieverslagen #main-box .item p:first-of-type:after,
#toernooiverslagen #main-box .item p:first-of-type:after,
#sticky #main-box .item p:first-of-type:after {
  content: '...';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  height: calc(1em * 20px); }

@supports (-webkit-line-clamp: 1) {
  .line-clamp:after, #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap p:after, #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a:after, #clubnieuws #main-box .item .page-header h2:after,
  #competitienieuws #main-box .item .page-header h2:after,
  #competitieverslagen #main-box .item .page-header h2:after,
  #toernooiverslagen #main-box .item .page-header h2:after,
  #sticky #main-box .item .page-header h2:after, #clubnieuws #main-box .item p:first-of-type:after,
  #competitienieuws #main-box .item p:first-of-type:after,
  #competitieverslagen #main-box .item p:first-of-type:after,
  #toernooiverslagen #main-box .item p:first-of-type:after,
  #sticky #main-box .item p:first-of-type:after {
    display: none !important; } }

.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: calc(1.25em * 20px * 1); }

.line-clamp-2, #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a, #clubnieuws #main-box .item .page-header h2,
#competitienieuws #main-box .item .page-header h2,
#competitieverslagen #main-box .item .page-header h2,
#toernooiverslagen #main-box .item .page-header h2,
#sticky #main-box .item .page-header h2 {
  -webkit-line-clamp: 2;
  height: calc(1.25em * 20px * 2); }

.line-clamp-3, #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap p, #clubnieuws #main-box .item p:first-of-type,
#competitienieuws #main-box .item p:first-of-type,
#competitieverslagen #main-box .item p:first-of-type,
#toernooiverslagen #main-box .item p:first-of-type,
#sticky #main-box .item p:first-of-type {
  -webkit-line-clamp: 3;
  height: calc(1.25em * 20px * 3); }

.line-clamp-4 {
  -webkit-line-clamp: 4;
  height: calc(1.25em * 20px * 4); }

.line-clamp-5 {
  -webkit-line-clamp: 5;
  height: calc(1.25em * 20px * 5); }

#feature {
  background-color: #333333;
  background: url("../images/featured-bg.svg");
  background-size: cover;
  background-position: center;
  margin-top: -1px; }
  #feature .moduletable {
    margin: 30px 0;
    padding: 0; }
  #feature .mod_ext_owl_carousel_articles_news {
    padding: 0; }
    #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap {
      margin: 10px;
      text-align: left;
      background: #fff;
      padding: 15px;
      box-shadow: 0 1px 8px black;
      position: relative; }
      #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap p {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5rem; }
        @media (min-width: 360px) {
          #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap p {
            font-size: 17px;
            font-size: calc(0.27816vw + 16px - 0.00278 * 360px);
            line-height: 28.2px;
            line-height: calc(1.16829vw + 24px - 0.01168 * 360px); } }
        @media (min-width: 1080px) {
          #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap p {
            font-size: 18px;
            font-size: 1.125rem;
            line-height: 2.025rem; } }
      #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .ext-item-img-intro {
        height: 180px;
        width: 100%;
        overflow: hidden;
        position: relative; }
        #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .ext-item-img-intro img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: auto;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          object-fit: cover; }
      #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title {
        margin: 15px 0; }
        #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a {
          color: #000;
          font-size: 22px;
          font-size: 1.375rem;
          line-height: 2.0625rem; }
          @media (min-width: 360px) {
            #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a {
              font-size: 24px;
              font-size: calc(0.55633vw + 22px - 0.00556 * 360px);
              line-height: 39.9px;
              line-height: calc(1.91933vw + 33px - 0.01919 * 360px); } }
          @media (min-width: 1080px) {
            #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a {
              font-size: 26px;
              font-size: 1.625rem;
              line-height: 2.925rem; } }
          #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a::after {
            content: ''; }
      #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a:hover,
      #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .newsflash-title a:focus {
        color: #dd0000;
        text-decoration: none; }
      #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .readmore {
        border: 4px solid #000;
        background: #fff;
        color: #000;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-transition: all 0.3s cubic-bezier(0.39, 0.5, 0.15, 1.36);
        transition: all 0.3s cubic-bezier(0.39, 0.5, 0.15, 1.36);
        display: inline-block;
        padding: 7px 12px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .readmore:hover, #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap .readmore:focus {
          text-decoration: none;
          color: #fff;
          box-shadow: #000 0 0 0 30px inset; }
    #feature .mod_ext_owl_carousel_articles_news .owl-theme .owl-controls .owl-buttons div {
      background-color: transparent;
      opacity: 1;
      top: auto;
      width: 40px;
      height: 40px;
      overflow: hidden; }
    #feature .mod_ext_owl_carousel_articles_news .owl-theme .owl-controls .owl-buttons {
      height: 50px; }
      #feature .mod_ext_owl_carousel_articles_news .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 50%;
        margin-right: -45px;
        color: transparent; }
        #feature .mod_ext_owl_carousel_articles_news .owl-theme .owl-controls .owl-buttons .owl-next::before {
          content: '\f178';
          width: 40px;
          height: 40px;
          color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          font-family: 'FontAwesome';
          line-height: 40px;
          text-align: center;
          border: 2px solid #fff;
          background-color: transparent;
          transition: all .3s ease-in-out; }
        #feature .mod_ext_owl_carousel_articles_news .owl-theme .owl-controls .owl-buttons .owl-next:hover::before {
          color: #000;
          background-color: #ffcccc; }
      #feature .mod_ext_owl_carousel_articles_news .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 50%;
        margin-left: -45px;
        color: transparent; }
        #feature .mod_ext_owl_carousel_articles_news .owl-theme .owl-controls .owl-buttons .owl-prev::before {
          content: '\f177';
          width: 40px;
          height: 40px;
          color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          font-family: 'FontAwesome';
          line-height: 40px;
          text-align: center;
          border: 2px solid #fff;
          background-color: transparent;
          transition: all .3s ease-in-out; }
        #feature .mod_ext_owl_carousel_articles_news .owl-theme .owl-controls .owl-buttons .owl-prev:hover::before {
          color: #000;
          background-color: #ffcccc; }
    #feature .mod_ext_owl_carousel_articles_news .owl-theme .owl-controls .owl-page span {
      background: #666; }

@media (0) and (max-width: 991px) {
  #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap {
    margin: 20px; } }

#feature h3 {
  margin-left: 10px;
  color: #fff;
  text-align: left; }

#feature .meer-nieuws a {
  border: 4px solid #000;
  padding: 8px 20px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36); }
  #feature .meer-nieuws a:hover, #feature .meer-nieuws a:focus {
    text-decoration: none;
    color: #fff;
    box-shadow: #000 0 0 0 30px inset; }

@media (0) and (max-width: 991px) {
  #feature .mod_ext_owl_carousel_articles_news .ext-item-wrap {
    margin: 20px; } }

#feature .meer-nieuws a {
  border: 4px solid #000;
  padding: 8px 20px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36); }
  #feature .meer-nieuws a:hover, #feature .meer-nieuws a:focus {
    text-decoration: none;
    color: #fff;
    box-shadow: #000 0 0 0 30px inset; }

.mod_ext_owl_carousel_articles_news.top-carousel-home {
  padding: 0; }
  .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap {
    position: relative;
    margin: 0; }
    .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .newsflash-titletop-carousel-home {
      margin: 0;
      width: 90%;
      position: absolute;
      left: 45px;
      line-height: 36px;
      bottom: 100px;
      text-align: left;
      font-size: 32px;
      font-size: 2rem; }
      @media (max-width: 767px) {
        .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .newsflash-titletop-carousel-home {
          left: 15px; } }
      @media (min-width: 768px) {
        .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .newsflash-titletop-carousel-home {
          line-height: 48px; } }
      @media (min-width: 360px) {
        .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .newsflash-titletop-carousel-home {
          font-size: 43px;
          font-size: calc(3.05981vw + 32px - 0.0306 * 360px); } }
      @media (min-width: 1080px) {
        .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .newsflash-titletop-carousel-home {
          font-size: 54px;
          font-size: 3.375rem; } }
      .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .newsflash-titletop-carousel-home a {
        max-height: 190px;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        color: #fff;
        padding-bottom: 10px;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto; }
        .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .newsflash-titletop-carousel-home a:hover {
          text-decoration: none; }
    .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .readmore {
      font-size: 14px;
      font-size: 0.875rem;
      border: 4px solid #fff;
      padding: 8px 20px;
      background: transparent;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      bottom: 45px;
      position: absolute;
      left: 45px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); }
      @media (min-width: 360px) {
        .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .readmore {
          font-size: 16px;
          font-size: calc(0.55633vw + 14px - 0.00556 * 360px); } }
      @media (min-width: 1080px) {
        .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .readmore {
          font-size: 18px;
          font-size: 1.125rem; } }
      @media (max-width: 767px) {
        .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .readmore {
          left: 15px; } }
      .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .readmore:hover, .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .readmore:focus {
        text-decoration: none;
        background-color: #dd0000;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5); }
    .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .ext-item-img.ext-item-img-fulltext {
      position: relative; }
      .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .ext-item-img.ext-item-img-fulltext::after {
        content: '';
        width: 100vw;
        height: 101%;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #333333;
        background: url("../images/topcarousel-bg.svg");
        background-size: cover;
        background-position: center;
        opacity: .8; }
        @media (min-width: 768px) {
          .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .ext-item-img.ext-item-img-fulltext::after {
            width: 50vw; } }
      .mod_ext_owl_carousel_articles_news.top-carousel-home .ext-item-wrap .ext-item-img.ext-item-img-fulltext img {
        min-height: 440px; }
  .mod_ext_owl_carousel_articles_news.top-carousel-home .owl-controls.clickable {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    width: 100%; }
  .mod_ext_owl_carousel_articles_news.top-carousel-home .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 60px;
    height: 6px;
    margin: 15px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 0;
    background: #fff;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(-30deg); }

.rl_sliders.accordion > .accordion-group {
  border-radius: 0; }
  .rl_sliders.accordion > .accordion-group.active > .accordion-heading > a.accordion-toggle {
    color: #000; }
  .rl_sliders.accordion > .accordion-group > .accordion-heading > a.accordion-toggle:hover {
    color: #dd0000; }

.rl_sliders.accordion > .accordion-group > div > a:focus,
.rl_sliders.accordion > .accordion-group.active > div > a:focus {
  -webkit-box-shadow: inset 0 0 2px #dd0000;
  box-shadow: inset 0 0 2px #dd0000; }

.rl_tabs .nav-tabs > li.active > a,
.rl_tabs .nav-tabs > li.active > a:hover,
.rl_tabs > ul.nav-tabs > li > a {
  color: #dd0000; }

.rl_tabs > ul.nav-tabs > li > a:hover {
  color: #000; }

.rl_tabs .nav-tabs > li > a,
.rl_tabs.outline_content > .tab-content {
  border-radius: 0; }

.rl_tabs.top > ul.nav-tabs > li > a:focus,
.rl_tabs.top > ul.nav-tabs > li.active > a:focus {
  -webkit-box-shadow: 0 -2px 2px rgba(221, 0, 0, 0.5);
  -moz-box-shadow: 0 -2px 2px rgba(221, 0, 0, 0.5);
  box-shadow: 0 -2px 2px rgba(221, 0, 0, 0.5); }

.rl_tabs > ul.nav-tabs > li > a:focus,
.rl_tabs > ul.nav-tabs > li.active > a:focus {
  border-color: #dd0000; }

#home #breadcrumbs, #home #main {
  display: none; }

#clubnieuws #wrap,
#competitienieuws #wrap,
#competitieverslagen #wrap,
#toernooiverslagen #wrap,
#sticky #wrap {
  background-color: #fff; }
  #clubnieuws #wrap #main #container,
  #competitienieuws #wrap #main #container,
  #competitieverslagen #wrap #main #container,
  #toernooiverslagen #wrap #main #container,
  #sticky #wrap #main #container {
    background-color: transparent; }

#clubnieuws #main-box .items-row,
#competitienieuws #main-box .items-row,
#competitieverslagen #main-box .items-row,
#toernooiverslagen #main-box .items-row,
#sticky #main-box .items-row {
  margin-bottom: 10px; }

#clubnieuws #main-box img,
#competitienieuws #main-box img,
#competitieverslagen #main-box img,
#toernooiverslagen #main-box img,
#sticky #main-box img {
  width: 100%; }

#clubnieuws #main-box article,
#competitienieuws #main-box article,
#competitieverslagen #main-box article,
#toernooiverslagen #main-box article,
#sticky #main-box article {
  padding: 15px;
  background-color: #eeeeee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.36);
  margin-bottom: 20px; }
  #clubnieuws #main-box article .item-image,
  #competitienieuws #main-box article .item-image,
  #competitieverslagen #main-box article .item-image,
  #toernooiverslagen #main-box article .item-image,
  #sticky #main-box article .item-image {
    margin-bottom: 20px; }

#clubnieuws #main-box .item .page-header,
#competitienieuws #main-box .item .page-header,
#competitieverslagen #main-box .item .page-header,
#toernooiverslagen #main-box .item .page-header,
#sticky #main-box .item .page-header {
  margin: 0 0 15px !important; }
  #clubnieuws #main-box .item .page-header h2,
  #competitienieuws #main-box .item .page-header h2,
  #competitieverslagen #main-box .item .page-header h2,
  #toernooiverslagen #main-box .item .page-header h2,
  #sticky #main-box .item .page-header h2 {
    text-align: left;
    margin: 0;
    -moz-hyphens: auto;
    hyphens: auto;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.625rem; }
    @media (min-width: 360px) {
      #clubnieuws #main-box .item .page-header h2,
      #competitienieuws #main-box .item .page-header h2,
      #competitieverslagen #main-box .item .page-header h2,
      #toernooiverslagen #main-box .item .page-header h2,
      #sticky #main-box .item .page-header h2 {
        font-size: 22px;
        font-size: calc(0.55633vw + 20px - 0.00556 * 360px);
        line-height: 29.8px;
        line-height: calc(1.05702vw + 26px - 0.01057 * 360px); } }
    @media (min-width: 1080px) {
      #clubnieuws #main-box .item .page-header h2,
      #competitienieuws #main-box .item .page-header h2,
      #competitieverslagen #main-box .item .page-header h2,
      #toernooiverslagen #main-box .item .page-header h2,
      #sticky #main-box .item .page-header h2 {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 2.1rem; } }
    #clubnieuws #main-box .item .page-header h2::after,
    #competitienieuws #main-box .item .page-header h2::after,
    #competitieverslagen #main-box .item .page-header h2::after,
    #toernooiverslagen #main-box .item .page-header h2::after,
    #sticky #main-box .item .page-header h2::after {
      content: ''; }
    #clubnieuws #main-box .item .page-header h2 a,
    #competitienieuws #main-box .item .page-header h2 a,
    #competitieverslagen #main-box .item .page-header h2 a,
    #toernooiverslagen #main-box .item .page-header h2 a,
    #sticky #main-box .item .page-header h2 a {
      color: #000; }

#clubnieuws #main-box .item .page-header a:hover,
#clubnieuws #main-box .item .page-header a:focus,
#competitienieuws #main-box .item .page-header a:hover,
#competitienieuws #main-box .item .page-header a:focus,
#competitieverslagen #main-box .item .page-header a:hover,
#competitieverslagen #main-box .item .page-header a:focus,
#toernooiverslagen #main-box .item .page-header a:hover,
#toernooiverslagen #main-box .item .page-header a:focus,
#sticky #main-box .item .page-header a:hover,
#sticky #main-box .item .page-header a:focus {
  color: #dd0000;
  text-decoration: none; }

#clubnieuws #main-box .item p:first-of-type,
#competitienieuws #main-box .item p:first-of-type,
#competitieverslagen #main-box .item p:first-of-type,
#toernooiverslagen #main-box .item p:first-of-type,
#sticky #main-box .item p:first-of-type {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
  clear: both; }
  @media (min-width: 360px) {
    #clubnieuws #main-box .item p:first-of-type,
    #competitienieuws #main-box .item p:first-of-type,
    #competitieverslagen #main-box .item p:first-of-type,
    #toernooiverslagen #main-box .item p:first-of-type,
    #sticky #main-box .item p:first-of-type {
      font-size: 17px;
      font-size: calc(0.27816vw + 16px - 0.00278 * 360px);
      line-height: 28.2px;
      line-height: calc(1.16829vw + 24px - 0.01168 * 360px); } }
  @media (min-width: 1080px) {
    #clubnieuws #main-box .item p:first-of-type,
    #competitienieuws #main-box .item p:first-of-type,
    #competitieverslagen #main-box .item p:first-of-type,
    #toernooiverslagen #main-box .item p:first-of-type,
    #sticky #main-box .item p:first-of-type {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 2.025rem; } }

#clubnieuws #main-box .readmore,
#competitienieuws #main-box .readmore,
#competitieverslagen #main-box .readmore,
#toernooiverslagen #main-box .readmore,
#sticky #main-box .readmore {
  margin-bottom: 0; }
  #clubnieuws #main-box .readmore .btn,
  #competitienieuws #main-box .readmore .btn,
  #competitieverslagen #main-box .readmore .btn,
  #toernooiverslagen #main-box .readmore .btn,
  #sticky #main-box .readmore .btn {
    border: 4px solid #000;
    padding: 8px 20px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -moz-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -ms-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -o-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36); }
    #clubnieuws #main-box .readmore .btn:hover, #clubnieuws #main-box .readmore .btn:focus,
    #competitienieuws #main-box .readmore .btn:hover,
    #competitienieuws #main-box .readmore .btn:focus,
    #competitieverslagen #main-box .readmore .btn:hover,
    #competitieverslagen #main-box .readmore .btn:focus,
    #toernooiverslagen #main-box .readmore .btn:hover,
    #toernooiverslagen #main-box .readmore .btn:focus,
    #sticky #main-box .readmore .btn:hover,
    #sticky #main-box .readmore .btn:focus {
      text-decoration: none;
      color: #fff;
      box-shadow: #000 0 0 0 30px inset; }
    #clubnieuws #main-box .readmore .btn .icon-chevron-right,
    #competitienieuws #main-box .readmore .btn .icon-chevron-right,
    #competitieverslagen #main-box .readmore .btn .icon-chevron-right,
    #toernooiverslagen #main-box .readmore .btn .icon-chevron-right,
    #sticky #main-box .readmore .btn .icon-chevron-right {
      display: none; }

.topvisual {
  max-height: 250px; }
  @media (min-width: 768px) {
    .topvisual {
      max-height: 340px; } }
  .topvisual .customparallaxck {
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }

#fotogallerij .projects-filter a.selected, #fotogallerij .projects-filter a.selected:hover {
  background: none repeat scroll 0 0 #dd0000 !important;
  text-decoration: none !important;
  color: #fff !important; }

#fotogallerij .projects-filter a {
  border-radius: 0 !important;
  color: #000 !important;
  font-size: 14px !important;
  padding: 8px 10px !important; }
  #fotogallerij .projects-filter a:hover {
    background: none repeat scroll 0 0 #ffcccc !important; }

#fotogallerij .btn-go-back {
  border: 4px solid #000 !important;
  color: #000 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  margin: 15px 0 !important;
  padding: 8px 20px !important;
  background: transparent !important;
  border-radius: 0 !important;
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36) !important;
  -moz-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36) !important;
  -ms-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36) !important;
  -o-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36) !important;
  transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36) !important; }
  #fotogallerij .btn-go-back:hover, #fotogallerij .btn-go-back:focus {
    text-decoration: none !important;
    color: #fff !important;
    box-shadow: #000 0 0 0 30px inset !important; }

#fotogallerij .item-pagefotogallerij h2 {
  text-align: center !important;
  width: 100% !important; }

#fotogallerij .projects-filter {
  border-bottom: 4px solid #000 !important; }
  #fotogallerij .projects-filter ul {
    text-align: center !important; }

.portfolio-list.portfolio-listfotogallerij h1 {
  text-align: center !important; }

#copy .jb.cookie {
  padding: 15px; }

#copy .jb.cookie a {
  width: 100%;
  display: inline-block;
  color: #dd0000; }

#copy .jb.cookie-bg.black {
  border-top: none; }

#copy .jb.accept {
  border-radius: 0;
  border-color: transparent;
  padding: 8px 20px; }

#footer a.sitedesign-link {
  color: #000;
  text-decoration: underline; }

.aridoc-dl-container {
  text-align: center; }

.aridoc-dl {
  display: inline-block;
  margin-top: 20px;
  border: 4px solid #000;
  padding: 8px 20px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 300ms cubic-bezier(0.39, 0.5, 0.15, 1.36); }
  .aridoc-dl::before {
    content: "\f019";
    font-size: 24px;
    font-family: FontAwesome;
    padding-right: 10px; }
  .aridoc-dl:hover, .aridoc-dl:focus {
    text-decoration: none;
    color: #fff;
    box-shadow: #000 0 0 0 30px inset; }

#top ul.nav.menu {
  margin-left: 33.33333%; }

@media (min-width: 768px) and (min-width: 768px) {
  #top ul.nav.menu {
    margin-left: 16.66667%; } }

.nav-pills > li > a {
  border-radius: 0; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #dd0000; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #dd0000; }

.lead, #main-box p.introtekst {
  margin-bottom: 20px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300; }
  @media (min-width: 360px) {
    .lead, #main-box p.introtekst {
      font-size: 18.5px;
      font-size: calc(0.69541vw + 16px - 0.00695 * 360px);
      line-height: 30.9px;
      line-height: calc(1.91933vw + 24px - 0.01919 * 360px); } }
  @media (min-width: 1080px) {
    .lead, #main-box p.introtekst {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 2.3625rem; } }

small,
.small, .klein {
  font-size: 85%; }

mark,
.mark, .gemarkeerd {
  padding: .2em;
  background-color: #ffcccc; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 0; }
  .pagination > li {
    display: inline; }
    .pagination > li > a,
    .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.42857;
      text-decoration: none;
      color: #dd0000;
      background-color: #fff;
      border: 1px solid #ffcccc;
      margin-left: -1px; }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
  .pagination > li > a:hover, .pagination > li > a:focus,
  .pagination > li > span:hover,
  .pagination > li > span:focus {
    z-index: 2;
    color: #dd0000;
    background-color: #ffcccc;
    border-color: #ffcccc; }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #dd0000;
    border-color: #dd0000;
    cursor: default; }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ffcccc;
    cursor: not-allowed; }

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333; }

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5; }

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }
