::selection {
  background: #ffcccc;
}

p, button, input, label, select, textarea {
  font-family: $font-family-base;
}

a {
  transition: all .3s ease-in-out;
  color: $brand-primary;
  &:focus,
  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

body {
  color: $text-color;
  background-color: $body-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-computed;
}

.btn {
  border-radius: 0;
}

#wrap {
  user-select: auto !important;
}


table {
  @include responsive-typography(14px, 18px, true);
}

#brand {
  float: left;
  padding-left: 0;
  padding-top: 0;
  background: #000;
  width: 67px;
  height: 67px;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  @include breakpoint(md) {
    width: 90px;
    height: 90px;
    left: auto;
  }
  @include breakpoint(lg) {
    width: 120px;
    height: 120px;
  }
  img {
    padding: 0;
    width: 67px !important;
    height: 67px !important;
    @include breakpoint(md) {
      width: 90px !important;
      height: 90px !important;
    }
    @include breakpoint(lg) {
      width: 120px !important;
      height: 120px !important;
    }
  }
}

.mm-listview > li > a.search {
  text-indent: -100px;
  &::before {
    text-indent: 0;
    float: left;
  }
}

.navbar-default {
  border: none;
  background-color: rgba(255,255,255, 0.75);
  .caret {
    margin-bottom: 4px;
    margin-left: 4px;
  }
}
.navbar-default .navbar-nav > {
  li > a {
    font-family: $headings-font-family;
    text-transform: uppercase;
    color: $text-color;
//    font-size: $font-size-h4;
    @include responsive-typography(14px, 18px, true);
    font-weight: 700;
    padding: 15px 10px;
    &:hover {
      color: $text-color;
    }
    &.search {
      font-family: 'FontAwesome';
      overflow: hidden;
      width: 25px;
    }
    &::before {
      font-family: 'FontAwesome';
    }
  }
  .active>a,
  .active>a:focus,
  .active>a:hover {
    color: #fff;
    background-color: $brand-primary !important;
  }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: $brand-primary;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background-color: $brand-primary;
}

.dropdown-menu>li>a {
  color: $text-color;
  font-size: $font-size-base;
  padding: 10px 20px;
  &::before {
    font-family: 'FontAwesome';
  }
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: $text-color;
  background-color: $brand-secondary;
}

.dropdown.open .dropdown-menu {
  max-height: 250px;
}

.navbar-toggle {
  border-radius: 0;
}

#main-box {
  @include make-md-column(10);
  @include make-md-column-offset(1);
  @include make-lg-column(8);
  @include make-lg-column-offset(2);
  @include breakpoint(md) {
    min-height: 500px;
  }
}
.breadcrumb {
   @include make-sm-column(9);
   @include make-md-column(7);
   @include make-md-column-offset(1);
   @include make-lg-column(6);
   @include make-lg-column-offset(2);
 }
.searchbar {
  @include make-sm-column(3);
  @include make-md-column(3);
  @include make-lg-column(2);
}
#mod-search-searchword {
  width: 100%;
}
#main-box {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  p {
    @include responsive-typography(16px, 18px, true);
  }
  .page-header {
    padding-bottom: 0;
    border-bottom: none;
    h1, h2 {
      text-align: left;
      @include breakpoint(sm) {
        text-align: center;
      }
      @include responsive-typography(36px, 54px, false);
    }
    h1 {
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      @include breakpoint(sm) {
        -ms-word-break: normal;
        word-break: normal;
        word-break: normal;
      }
    }
  }
  .item-image {
    margin-bottom: $line-height-computed;
  }
}

.pagination-wrapper {
  text-align: center;
}

#breadcrumbs {
  padding: 10px 0;
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

#fullwidth {
  margin-top: -90px;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .moduletable, p {
    margin-bottom: 0;
  }
  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    object-fit: cover;
  }
}

#home #fullwidth {
  .moduletable {
    margin-bottom: 0;
  }
}
#home #showcase {
  .moduletable {
    padding: 20px 0;
  }
}

#showcase {
  background:url('../images/showcase-bg.svg');
  background-size: cover;
  .kalender {
    h3.title {
      text-align: center;
      @include breakpoint(md) {
        text-align: left;
      }
      @include breakpoint(lg) {
        color: #ffffff;
        text-align: right;
      }
    }
  }
  .latest-events {
    h3.title {
      text-align: center;
      @include breakpoint(md) {
        text-align: left;
      }
    }
  }
}

#clubnieuws #main-box,
#competitienieuws #main-box,
#competitieverslagen #main-box,
#toernooiverslagen #main-box,
#sticky #main-box,
#wide #main-box
{
  @include make-md-column(12);
  @include make-md-column-offset(0);
  padding-left: 0;
  padding-right: 0;
}
#clubnieuws #main-box [class^="item-"],
#competitienieuws #main-box [class^="item-"],
#competitieverslagen #main-box [class^="item-"],
#toernooiverslagen #main-box [class^="item-"],
#sticky #main-box [class^="item-"]{
  @include make-md-column(10);
  @include make-md-column-offset(1);
  @include make-lg-column(8);
  @include make-lg-column-offset(2);
}

// Jevents Agenda

#agenda #jevents_body {
  #jev_maincal {
    margin-top: 20px;
    border: none;
    background-color: transparent;
    * {
      font-size: $font-size-base;
      line-height: $line-height-computed*1.5;
    }
    &.jev_listview {
      .jev_listrow {
        border: 4px solid $text-color;
        margin-bottom: 10px;
        li {
          border-width: 0px 0px 0px 20px!important;
          padding-left: 10px;
          a.ev_link_row:link, a.ev_link_row:visited, a.ev_link_row:hover {
            font-size: 18px !important;
            color: $text-color;
            text-decoration: none;
            font-weight: 700;
            font-family: 'Montserrat';
            text-transform: uppercase;
          }
          a.ev_link_row:hover,a.ev_link_row:focus {
            color: $brand-primary;
          }
        }
      }
      .jev_daysnames {
        background-color: $text-color;
        border-color: $text-color;
        color: #fff;
        width: 130px;
        padding: 10px;
        height: auto;
        line-height: 20px;
      }
    }
  }
}

#jevents {
  #jevents_body .contentpaneopen table,
  #jevents_body .contentpaneopen p {
    line-height: 24px;
  }
  .jevbootstrap h2 {
    font-family: $headings-font-family;
    text-align: left;
    font-weight: 400;
    @include responsive-typography(36px, 54px, false);
    @include breakpoint(sm) {
      text-align: center;
    }
  }
  .jev_toprow div.previousmonth,
  .jev_toprow div.nextmonth {
    background-color: $brand-primary;
    border-color: $brand-primary;
    border-radius: 0;
  }
  div.previousmonth {
    margin-left: 0;
  }
  .jev_toprow div.currentmonth {
    width: 50%;
  }
  .new-navigation {
    margin-top: $line-height-computed;
  }
  #jevents_body .jev_evdt {
    padding: 0;
  }
  .jev_evdt .jev_evdt_title {
    font-family: $headings-font-family;
    text-align: left;
    font-weight: 400;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    @include responsive-typography(36px, 54px, false);
    @include breakpoint(sm) {
      text-align: center;
    }
    padding-bottom: 10px;
  }
  .jev_evdt_header {
    margin-bottom: 10px 0 20px!important;
  }
  #nav-search a {
    &::before{
      content: "\f002";
      font-size: 24px;
      font-family: FontAwesome;
    }
    img {
      display: none;
    }
  }
  .jevbootstrap a:hover,
  .jevbootstrap a:focus {
    text-decoration: none !important;
  }
  .nav-items > div {
    border-color: $brand-primary;
  }
  #jevents_body {
    border: none;
    background-color: #ffffff;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    .month_date {
      padding-left: 0;
    }
    .nav-items > div:first-child,
    .nav-items > div:last-child {
      border-radius: 0;
      border-color: $brand-primary;
    }
    .nav-items div.active a,
    .jev_header2 .active a {
      background-color: $brand-primary;
      color: #FFF;
    }
    .nav-items > div a {
      padding: 7px 12px 7px 12px;
      &:hover {
        background-color: $brand-primary;
        border-left: 1px solid $brand-primary;
        text-decoration: none;
        color: #ffffff;
        border-radius: 0;
      }
    }
    .jev_evdt_creator,
    .jev_evdt_hits {
      display: none;
    }
    .jev_evdt_location .location {
      font-weight: bold;
    }
    .jev_evdt_extrainf {
      font-style: italic;
    }
  }
  .jevbootstrap img {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: $line-height-computed;
  }
  #eventlist {
    margin-bottom: $line-height-computed;
  }
  .jevbootstrap * {
    border-radius: 0;
  }
  .jev_eventdetails_body {
    @include responsive-typography(16px, 18px, true);
  }
}

//JEvents Calendar
#flatcal_minical .flatcal_daycell,
#flatcal_minical .flatcal_todaycell,
#flatcal_minical .flatcal_sundaycell,
#flatcal_minical .flatcal_othermonth,
#flatcal_minical .flatcal_weekdays {
  font-family: $headings-font-family;
  font-size: $font-size-small !important;
}

#flatcal_minical .flatcal_month_label {
  font-family: $headings-font-family;
  font-size: $font-size-large !important;
}

#flatcal_minical .flatcal_month_label,
#flatcal_minical .flatcal_daycell {
  color: $text-color !important;
}
#flatcal_minical .flatcal_sundaycell {
  color: $brand-secondary !important;
}
#flatcal_minical .flatcal_month_label {
  width: 80%;
  a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: $brand-primary !important;
  }
}
#flatcal_minical TD.flatcal_weekdays {
  font-weight: 700 !important;
}
#flatcal_minical .flatcal_busylink:link,
#flatcal_minical .flatcal_busylink:visited {
  color: $brand-primary !important;
  font-size: $font-size-small!important;
}
#flatcal_minical .flatcal_todaycell {
  color: $gray-light !important;
}

#flatcal_minical .flatcal_navbar {
  border-bottom: none !important;
  background-color: #f3f3f3!important;
}
table.mod_events_latest_table {
  border: 4px solid $text-color !important;
  tbody>tr>td {
    padding: 8px 13px;
    transition: all .3s ease-in-out;
    &:hover {
      background: #f3f3f3;
    }
  }
  td {
    border-color: $text-color !important;
  }
  a {
    font-size: $font-size-large;
    font-family: $headings-font-family;
    color: $text-color;
    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }
}
.mod_events_latest_callink {
  margin-top: $line-height-computed / 2;
  padding-left: 18px;
  &::before {
    content: '\f178';
    width: 15px;
    font-family: 'FontAwesome';
  }
  a {
    color: $text-color;
    margin-left: 10px;
    @include responsive-typography(16px, 18px, true);
    &:hover {
      color: $brand-primary;
    }
  }
}
table.flatcal_main_t {
  border: 4px solid $text-color !important;
  .full_cal_link {
    display: none;
  }
  tbody>tr>td {
    padding: 13px;
  }
}
td.link_prev, td.link_next {
  padding: 0 !important;
  margin: 0;
}
img.mod_events_link {
  width: 100%;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: red;
  }
}

.jevbootstrap [class^="icon-"], .jevbootstrap [class*=" icon-"] {
  margin-right: 8px !important;
}

#table-wide {
  table {
    width: 100%;
  }
}

#bottom {
  background: #f3f3f3;
  .moduletable {
    margin-bottom: 0;
  }
  .sponsor {
    img {
      height: auto;
    }
    .item {
      background: #ffffff;
      border: 1px solid transparent;
    }
  }
}

#footer {
  background: $brand-primary;
  .container {
    position: relative;
  }
  .moduletable {
    margin-bottom: 0;
  }
  a, a:hover {
    color: $text-color;
    text-decoration: underline;
  }
  p {
    @include responsive-typography(16px, 18px, true);
  }
  @media (min-width: 0) and (max-width: $screen-md-max) {
    h4 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  @media (min-width: $screen-lg-min) {
    background:url('../images/footer-bg.svg');
    background-size: cover;
  }
  .footer-left .moduletable {
    @include make-sm-column-offset(4);
    @include make-md-column(8);
    @include make-lg-column-offset(2);
    @include make-lg-column(6);
  }
  .footer-right .moduletable {
    @include make-sm-column-offset(4);
    @include make-lg-column-offset(1);
    @include make-lg-column(3);
  }
  .beeldmerk {
    @media (min-width: $screen-sm-min) {
      width: 190px;
      height: 384px;
      display: block;
      background:url('../images/ttvv_beeldmerk.svg');
      background-size: 190px 384px;
      position: absolute;
      bottom: -6px;
    }
  }
}

#copy {
  .container {
    border-top: 2px solid black;
  }
  .copy .moduletable {
    margin-bottom: 0;
    padding: 10px;
    p {
      margin: 0;
    }
  }
}

.pager li>a, .pager li>span {
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid $gray-base;
  border-radius: 0;
  color: $gray-base;
  margin-bottom: $line-height-computed;
  -webkit-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  @media (min-width: 0) and (max-width: $screen-sm-max) {
    width: 100%;
  }
  &:hover {
    box-shadow: $brand-secondary 0 0 0 20px inset;
  }
}

/*TO TOP*/
.back-to-top {
  bottom: 2em;
  right: 2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.1em 1em;
  display: none;
  font-size: 6px;
  text-decoration: none;
  &:hover, &:active, &:focus {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: #fff;
  }
  &::before {
    content: "\f077";
    font-size: 30px;
    font-family: FontAwesome;
  }
}

.sponsorlink {
  a, a:hover {
    color: $text-color;
  }
  span i {
    vertical-align: sub;
    font-size: 24px;
  }
}

//Clamping

.line-clamp
{
  display            : block;
  display            : -webkit-box;
  -webkit-box-orient : vertical;
  position           : relative;

  line-height        : $line-height-computed;
  overflow           : hidden;
  text-overflow      : ellipsis;
  padding            : 0 !important;
}
.line-clamp:after
{
  content    : '...';
  text-align : right;
  bottom     : 0;
  right      : 0;
  width      : 25%;
  display    : block;
  position   : absolute;
  height     : calc(1em * #{$line-height-computed});
}
@supports (-webkit-line-clamp: 1)
{
  .line-clamp:after
  {
    display : none !important;
  }
}
.line-clamp-1
{
  -webkit-line-clamp : 1;
  height             : calc(1.25em * #{$line-height-computed} * 1);
}
.line-clamp-2
{
  -webkit-line-clamp : 2;
  height             : calc(1.25em * #{$line-height-computed} * 2);
}
.line-clamp-3
{
  -webkit-line-clamp : 3;
  height             : calc(1.25em * #{$line-height-computed} * 3);
}
.line-clamp-4
{
  -webkit-line-clamp : 4;
  height             : calc(1.25em * #{$line-height-computed} * 4);
}
.line-clamp-5
{
  -webkit-line-clamp : 5;
  height             : calc(1.25em * #{$line-height-computed} * 5);
}

//Owl carousel plugin
#feature {
  background-color: $gray-dark;
  background:url('../images/featured-bg.svg');
  background-size: cover;
  background-position: center;
  margin-top: -1px;
  .moduletable {
    margin: 30px 0;
    padding: 0;
  }
  .mod_ext_owl_carousel_articles_news {
    padding: 0;
    .ext-item-wrap {
      margin: 10px;
      text-align: left;
      background: #fff;
      padding: 15px;
      box-shadow: 0 1px 8px rgba(0,0,0,1);
      position: relative;
      p {
        @include responsive-typography(16px, 18px, true);
        @extend .line-clamp;
        @extend .line-clamp-3;
      }
      .ext-item-img-intro {
        height: 180px;
        width: 100%;
        overflow: hidden;
        position: relative;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: auto;
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          object-fit: cover;
        }
      }
      .newsflash-title {
        margin: 15px 0;
        a {
          color: $text-color;
          @include responsive-typography(22px, 26px, true);
          @extend .line-clamp;
          @extend .line-clamp-2;
          &::after {
            content: '';
          }
        }
      }
      .newsflash-title a:hover,
      .newsflash-title a:focus {
        color: $brand-primary;
        text-decoration: none;

      }
      .readmore {
        border: 4px solid $text-color;
        background: #fff;
        color: $text-color;
        font-size: $font-size-h5;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-transition: all .3s cubic-bezier(.39,.5,.15,1.36);
        transition: all .3s cubic-bezier(.39,.5,.15,1.36);
        display: inline-block;
        padding: 7px 12px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover, &:focus {
          text-decoration: none;
          color: #fff;
          box-shadow: $text-color 0 0 0 30px inset;
        }
      }
    }
    .owl-theme .owl-controls .owl-buttons div {
      background-color: transparent;
      opacity: 1;
      top: auto;
      width: 40px;
      height: 40px;
      overflow: hidden;
    }
    .owl-theme .owl-controls .owl-buttons {
      height: 50px;
      .owl-next {
        right: 50%;
        margin-right: -45px;
        color: transparent;
        &::before {
          content: '\f178';
          width: 40px;
          height: 40px;
          color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          font-family: 'FontAwesome';
          line-height: 40px;
          text-align: center;
          border: 2px solid #fff;
          background-color: transparent;
          transition: all .3s ease-in-out;
        }
        &:hover::before {
          color: #000;
          background-color: $brand-secondary;
        }
      }
      .owl-prev {
        left: 50%;
        margin-left: -45px;
        color: transparent;
        &::before {
          content: '\f177';
          width: 40px;
          height: 40px;
          color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          font-family: 'FontAwesome';
          line-height: 40px;
          text-align: center;
          border: 2px solid #fff;
          background-color: transparent;
          transition: all .3s ease-in-out;
        }
        &:hover::before {
          color: #000;
          background-color: $brand-secondary;
        }
      }
    }
    .owl-theme .owl-controls .owl-page span {
      background: #666;
    }
  }
}

#feature .mod_ext_owl_carousel_articles_news .ext-item-wrap {
  @media (0) and (max-width: $screen-sm-max) {
    margin: 20px;
  }
}

#feature h3 {
  margin-left: 10px;
  color: #fff;
  text-align: left;
}

#feature .meer-nieuws a {
  border: 4px solid $text-color;
  padding: 8px 20px;
  background: #fff;
  color: $text-color;
  font-size: $font-size-h5;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
    box-shadow: $text-color 0 0 0 30px inset;
  }
}

#feature .mod_ext_owl_carousel_articles_news .ext-item-wrap {
  @media (0) and (max-width: $screen-sm-max) {
    margin: 20px;
  }
}

#feature .meer-nieuws a {
  border: 4px solid $text-color;
  padding: 8px 20px;
  background: #fff;
  color: $text-color;
  font-size: $font-size-h5;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
    box-shadow: $text-color 0 0 0 30px inset;
  }
}

//Owl carousel top home
.mod_ext_owl_carousel_articles_news.top-carousel-home {
  padding: 0;
  .ext-item-wrap {
    position: relative;
    margin: 0;
    .newsflash-titletop-carousel-home {
      margin: 0;
      width: 90%;
      position: absolute;
      left: 45px;
      @include breakpoint(xs) {
       left: 15px;
      }
      line-height: 36px;
      @include breakpoint(sm) {
        line-height: 48px;
      }
      bottom: 100px;
      text-align: left;
      @include responsive-typography(32px, 54px, false);
      a {
        max-height: 190px;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
        color: #fff;
        padding-bottom: $line-height-computed/2;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .readmore {
      @include responsive-typography(14px, 18px, false);
      border: 4px solid #fff;
      padding: 8px 20px;
      background: transparent;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      bottom: 45px;
      position: absolute;
      left: 45px;
      @include breakpoint(xs) {
        left: 15px;
      }
      text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
      -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.3);
      -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
      box-shadow:         inset 0 0 10px rgba(0,0,0,0.3);
      &:hover, &:focus {
        text-decoration: none;
        background-color: $brand-primary;
        box-shadow: 0 1px 8px rgba(0,0,0,.5);
      }
    }
    .ext-item-img.ext-item-img-fulltext {
      position: relative;
      &::after {
        content: '';
        width: 100vw;
        height: 101%;
        position: fixed;
        left:0;
        bottom: 0;
        background-color: $gray-dark;
        background:url('../images/topcarousel-bg.svg');
        background-size: cover;
        background-position: center;
        opacity: .8;
        @include breakpoint(sm) {
          width: 50vw;
        }
      }
      img {
        min-height: 440px;
      }
    }
  }
  .owl-controls.clickable {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    width: 100%;
  }
  .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 60px;
    height: 6px;
    margin: 15px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 0;
    background: #fff;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(-30deg);
  }
}

//Sliders plugin
.rl_sliders.accordion>.accordion-group {
  border-radius: 0;
  &.active>.accordion-heading>a.accordion-toggle {
    color: $text-color;
  }
  &>.accordion-heading>a.accordion-toggle:hover {
    color: $brand-primary;
  }
}
.rl_sliders.accordion>.accordion-group>div>a:focus,
.rl_sliders.accordion>.accordion-group.active>div>a:focus {
  -webkit-box-shadow: inset 0 0 2px $brand-primary;
  box-shadow: inset 0 0 2px $brand-primary;
}

//Tabs plugin
.rl_tabs .nav-tabs>li.active>a,
.rl_tabs .nav-tabs>li.active>a:hover,
.rl_tabs>ul.nav-tabs>li>a
{
  color: $brand-primary;
}
.rl_tabs>ul.nav-tabs>li>a:hover {
  color: $text-color;
}
.rl_tabs .nav-tabs>li>a,
.rl_tabs.outline_content>.tab-content {
  border-radius: 0;
}
.rl_tabs.top>ul.nav-tabs>li>a:focus,
.rl_tabs.top>ul.nav-tabs>li.active>a:focus,
{
  -webkit-box-shadow: 0 -2px 2px rgba($brand-primary, 0.5);
  -moz-box-shadow: 0 -2px 2px rgba($brand-primary, 0.5);
  box-shadow: 0 -2px 2px rgba($brand-primary, 0.5);
}
.rl_tabs>ul.nav-tabs>li>a:focus,
.rl_tabs>ul.nav-tabs>li.active>a:focus {
  border-color: $brand-primary;
}

//Page specific


#home {
  #breadcrumbs, #main {
    display: none;
  }
}

#clubnieuws,
#competitienieuws,
#competitieverslagen,
#toernooiverslagen,
#sticky {
  #wrap {
    background-color: #fff;
    #main #container {
      background-color: transparent;
    }
  }
  #main-box {
    .items-row {
      margin-bottom: $line-height-computed/2;
    }
    img {
      width: 100%;
    }
    article {
      padding: 15px;
      background-color: $gray-lighter;
      box-shadow: 0 1px 4px rgba(0,0,0,.36);
      margin-bottom: $line-height-computed;
      .item-image {
        margin-bottom: $line-height-computed;
      }
    }
    .item .page-header {
      margin: 0 0 15px !important;
      h2 {
        text-align: left;
        margin: 0;
        -moz-hyphens: auto;
        hyphens: auto;
        @include responsive-header-typography(20px, 24px, true);
        @extend .line-clamp;
        @extend .line-clamp-2;
        &::after {
          content: '';
        }
        a {
          color: $text-color;
        }
      }
    }
    .item .page-header a:hover,
    .item .page-header a:focus {
      color: $brand-primary;
      text-decoration: none;
    }
    .item p:first-of-type {
      @include responsive-typography(16px, 18px, true);
      @extend .line-clamp;
      @extend .line-clamp-3;
      clear: both;
    }
    .readmore {
      margin-bottom: 0;
      .btn {
        border: 4px solid $text-color;
        padding: 8px 20px;
        color: $text-color;
        font-size: $font-size-h5;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -moz-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -ms-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        -o-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
        &:hover, &:focus {
          text-decoration: none;
          color: #fff;
          box-shadow: $text-color 0 0 0 30px inset;
        }
        .icon-chevron-right {
          display: none;
        }
      }
    }
  }
}
//Topvisual
.topvisual {
  max-height: 250px;
  @include breakpoint(sm) {
    max-height: 340px;
  }
  .customparallaxck {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}

//Fotogallerij
#fotogallerij {
  .projects-filter a.selected, .projects-filter a.selected:hover {
    background: none repeat scroll 0 0 $brand-primary !important;
    text-decoration: none !important;
    color: #fff !important;
  }
  .projects-filter a {
    border-radius: 0 !important;
    color: $text-color !important;
    font-size: $font-size-base !important;
    padding: 8px 10px !important;
    &:hover {
      background: none repeat scroll 0 0 $brand-secondary !important;
    }
  }
  .btn-go-back {
    border: 4px solid $text-color !important;
    color: $text-color !important;
    font-size: $font-size-h5 !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    margin: 15px 0 !important;
    padding: 8px 20px !important;
    background: transparent !important;
    border-radius: 0 !important;
    -webkit-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360) !important;
    -moz-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360) !important;
    -ms-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360) !important;
    -o-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360) !important;
    transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360) !important;
    &:hover, &:focus {
      text-decoration: none !important;
      color: #fff !important;
      box-shadow: $text-color 0 0 0 30px inset !important;
    }
  }
  .item-pagefotogallerij h2 {
    text-align: center !important;
    width: 100% !important;
  }
  .projects-filter {
    border-bottom: 4px solid #000 !important;
    ul {
      text-align: center !important;
    }
  }
}

.portfolio-list.portfolio-listfotogallerij h1 {
  text-align: center !important;
}


//Cookiemelding
#copy {
  .jb.cookie {
    padding: 15px;
  }
  .jb.cookie a {
    width: 100%;
    display: inline-block;
    color: $brand-primary;
  }
  .jb.cookie-bg.black {
    border-top: none;
  }
  .jb.accept {
    border-radius: 0;
    border-color: transparent;
    padding: 8px 20px;
  }
}

//Sitedesign-link
#footer a.sitedesign-link {
  color: $text-color;
  text-decoration: underline;
}

// Ari Doc viewer
.aridoc-dl-container {
  text-align: center;
}
.aridoc-dl {
  display: inline-block;
  margin-top: $line-height-computed;
  border: 4px solid $text-color;
  padding: 8px 20px;
  color: $text-color;
  font-size: $font-size-h5;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  &::before{
    content: "\f019";
    font-size: 24px;
    font-family: FontAwesome;
    padding-right: 10px;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
    box-shadow: $text-color 0 0 0 30px inset;
  }
}

// Helpmenu
#top ul.nav.menu {
  @include make-xs-column-offset(4);
  @include breakpoint(sm) {
    @include make-sm-column-offset(2);
  }
}
.nav-pills>li>a {
  border-radius: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: $brand-primary;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: $brand-primary;
}

// JCE Editor styles
.lead, #main-box p.introtekst {
  margin-bottom: 20px;
  @include responsive-typography(16px, 21px, true);
  font-weight: 300;
}
small,
.small, .klein {
  font-size: 85%;
}
mark,
.mark, .gemarkeerd {
  padding: .2em;
  background-color: #ffcccc;
}