/**
 * material-design-lite - Material Design Components in CSS, JS and HTML
 * @version v1.1.1
 * @license Apache-2.0
 * @copyright 2015 Google, Inc.
 * @link https://github.com/google/material-design-lite
 */

@charset "UTF-8";
html {
  color: rgba(0, 0, 0, .87)
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none
}

::selection {
  background: #b3d4fc;
  text-shadow: none
}

fieldset,
hr {
  border: 0;
  padding: 0
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 1em 0
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle
}

fieldset {
  margin: 0
}

textarea {
  resize: vertical
}

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0
}

.hidden {
  display: none!important
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto
}

.invisible {
  visibility: hidden
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

@media print {
  *,
  *:after,
  *:before,
  *:first-letter,
  *:first-line {
    background: 0 0!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important
  }
  a,
  a:visited {
    text-decoration: underline
  }
  a[href]:after {
    content: " (" attr(href)")"
  }
  abbr[title]:after {
    content: " (" attr(title)")"
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""
  }
  blockquote,
  pre {
    border: 1px solid #999
  }
  thead {
    display: table-header-group
  }
  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid
  }
  img {
    max-width: 100%!important
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3
  }
  h2,
  h3 {
    page-break-after: avoid
  }
}

.mdl-accordion,
.mdl-button,
.mdl-card,
.mdl-checkbox,
.mdl-dropdown-menu,
.mdl-icon-toggle,
.mdl-item,
.mdl-radio,
.mdl-slider,
.mdl-switch,
.mdl-tabs__tab,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

body,
html {
  width: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px
}

html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation
}

body {
  min-height: 100%;
  margin: 0
}

main {
  display: block
}

*[hidden] {
  display: none!important
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0
}

h1,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  letter-spacing: -.02em;
  line-height: 1.35
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: 400;
  opacity: .54;
  font-size: .6em
}

h1,
h2 {
  font-weight: 400
}

h1 {
  margin: 24px 0;
  font-size: 56px
}

h2,
h3 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  margin: 24px 0
}

h2 {
  font-size: 45px;
  line-height: 48px
}

h3,
h4 {
  font-weight: 400
}

h3 {
  font-size: 34px;
  line-height: 40px
}

h4,
h5 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif
}

h4 {
  -moz-osx-font-smoothing: grayscale;
  margin: 24px 0 16px;
  font-size: 24px;
  line-height: 32px
}

h5,
h6,
p {
  margin: 24px 0 16px
}

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .02em
}

blockquote,
h6 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif
}

h6,
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .04em
}

p {
  font-size: 14px;
  letter-spacing: 0;
  margin: 0 0 16px
}

a {
  color: #ff4081;
  font-weight: 500
}

blockquote {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.35;
  letter-spacing: .08em
}

blockquote:before {
  position: absolute;
  left: -.5em;
  content: '“'
}

blockquote:after {
  content: '”';
  margin-left: -.05em
}

mark {
  background-color: #f4ff81
}

dt {
  font-weight: 700
}

address,
ol,
ul {
  font-weight: 400;
  letter-spacing: 0
}

address {
  font-style: normal;
  font-size: 12px;
  line-height: 1
}

ol,
ul {
  font-size: 14px;
  line-height: inherit
}