$base-spacing-unit: 24px;
$base-font-size: 16px;

$break-start: ($base-spacing-unit * 15);
$break-end: ($base-spacing-unit * 45);
$break-stop: $break-end - 1px;

@function strip-unit($number) {
  @return $number;
}

@function px-to-rem($number) {
  @return $number / $base-font-size * 1rem;
}

@mixin responsive-typography($min-font-size, $max-font-size, $line-height: true) {
  $small-em: px-to-rem($min-font-size);
  $large-em: px-to-rem($max-font-size);

  $min-line-height: $min-font-size * 1.5;
  $max-line-height: $max-font-size * 1.8;

  // Calculate M (how many pixels do we add to the font size for each increase of 1px to the viewport width)
  $m-font: (strip-unit($max-font-size) - strip-unit($min-font-size)) / (strip-unit($break-stop) - strip-unit($break-start));
  $m-line: ($max-line-height - $min-line-height) / ($break-stop - $break-start);

  // Calculate B (font-size before we add any viewport-based value)
  $b-font: unquote("#{$min-font-size} - #{$m-font} * #{$break-start}");
  $b-line: unquote("#{$min-line-height} - #{$m-line} * #{$break-start}");

  // Calculate N (convert to vw)
  $n-font: #{$m-font * 100vw};
  $n-line: #{$m-line * 100vw};

  font-size: #{$min-font-size};
  font-size: #{$small-em};

  @if $line-height == true {
    line-height: px-to-rem($min-line-height);
  }

  @media (min-width: #{$break-start}) {
    font-size: #{($min-font-size + $max-font-size) / 2};
    font-size: calc(#{$n-font} + #{$b-font});

    @if $line-height == true {
      line-height: #{($min-line-height + $max-line-height) / 2};
      line-height: calc(#{$n-line} + #{$b-line});
    }
  }

  @media (min-width: $break-end) {
    font-size: #{$max-font-size};
    font-size: #{$large-em};

    @if $line-height == true {
      line-height: px-to-rem($max-line-height);
    }
  }
}

@mixin responsive-header-typography($min-font-size, $max-font-size, $line-height: true) {
  $small-em: px-to-rem($min-font-size);
  $large-em: px-to-rem($max-font-size);

  $min-line-height: $min-font-size * 1.3;
  $max-line-height: $max-font-size * 1.4;

  // Calculate M (how many pixels do we add to the font size for each increase of 1px to the viewport width)
  $m-font: (strip-unit($max-font-size) - strip-unit($min-font-size)) / (strip-unit($break-stop) - strip-unit($break-start));
  $m-line: ($max-line-height - $min-line-height) / ($break-stop - $break-start);

  // Calculate B (font-size before we add any viewport-based value)
  $b-font: unquote("#{$min-font-size} - #{$m-font} * #{$break-start}");
  $b-line: unquote("#{$min-line-height} - #{$m-line} * #{$break-start}");

  // Calculate N (convert to vw)
  $n-font: #{$m-font * 100vw};
  $n-line: #{$m-line * 100vw};

  font-size: #{$min-font-size};
  font-size: #{$small-em};

  @if $line-height == true {
    line-height: px-to-rem($min-line-height);
  }

  @media (min-width: #{$break-start}) {
    font-size: #{($min-font-size + $max-font-size) / 2};
    font-size: calc(#{$n-font} + #{$b-font});

    @if $line-height == true {
      line-height: #{($min-line-height + $max-line-height) / 2};
      line-height: calc(#{$n-line} + #{$b-line});
    }
  }

  @media (min-width: $break-end) {
    font-size: #{$max-font-size};
    font-size: #{$large-em};

    @if $line-height == true {
      line-height: px-to-rem($max-line-height);
    }
  }
}