/*CONTACT FORM*/
.accordion {
    margin-bottom: 30px;
}
.accordion-group {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 2px;
}
.accordion-heading {
    border-bottom: 0 none;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.accordion-toggle {
    cursor: pointer;
}
.accordion-inner {
    border-top: 1px solid #e5e5e5;
    padding: 9px 15px;
}
.form-horizontal .control-label {
   /* float: left;*/
    padding-top: 5px;
    text-align: right;
    width: 160px;
}
.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
}
.form-horizontal .form-actions {
    padding-left: 160px;
}
/*CONTACT FORM*/
.hm_blog_list .blog_grid_con .meta, .post_title_con .meta {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-style: italic;
    margin-bottom: 17px;
    padding-bottom: 11px;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: block;
}
/*LAYOUT BOXED*/
.layout-boxed {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 1240px;
	background: #fff;
}
/*TITLE MODULE*/
.module-title .title {
    margin: 0 0 20px;
    padding-bottom: 9px;
}
/*LINK TRANS*/
a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
a:focus, a:hover {
    text-decoration: none;
}
/*TAGS CLUDS*/
.module-content .tagspopular ul li {
    display: inline-block;
}
.module-content > .tagspopular ul li::before {
    content: none;
}
/*CALENDARIO*/
.calendar {
    margin: 5px 0 0 1px !important;
}
.calendar table {
    border: 0 none !important;
}
.calendar .button {
    border: 0 none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    display: table-cell !important;
    margin: 0 !important;
    padding: 2px !important;
    text-align: center !important;
}
.calendar thead .hilite {
    padding: 1px !important;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.calendar, .calendar table {
    width: 100%;
}
/*LISTAS EN MODULOS*/
.module-content ul li::before {
	content:"\e080";
    font-family: glyphicons halflings;
}
.module-content ul {
    margin: 0;
    padding: 0;
}
.module-content ul li {
    list-style: outside none none;
    margin: 0;
    padding: 2px 0;
}
.navbar-default .nav-header {
    padding: 5px 20px;
    display: block;
    font-weight: bold;
	line-height: 20px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline-block;
    font-size: 100%;
    /*height: 34px;*/
    line-height: 1.42857;
    min-width: 100px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   /* width: 100%;*/
}
.manager.thumbnails li {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    float: left;
    height: 80px;
    line-height: 18px;
    position: relative;
    text-align: center;
    width: 80px;
    padding: 4px;
}
.manager.thumbnails li .height-50 {
    height: 50px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.thumbnails::before, .thumbnails::after {
    content: "";
    display: table;
    line-height: 0;
}
.thumbnails::after {
    clear: both;
}
.thumbnails::before, .thumbnails::after {
    content: "";
    display: table;
    line-height: 0;
}
.manager.thumbnails {
    list-style: outside none none;
    margin: 0 0 0 -20px;
    padding: 0;
}
.window .window-mainbody {
    padding: 20px;
}
.center, .table td.center, .table th.center {
    text-align: center;
}
#editor-xtd-buttons .btn, .toggle-editor .btn {
    background-color: #ffffff;
    border-color: #cccccc;
    text-shadow: 0 1px 0 #fff;
    margin: 5px;
}
.thumbnails > li {
    float: left;
    margin-bottom: 18px;
    margin-left: 20px;
}
.thumbnail {
    margin-bottom: 9px;
}
.height-80 {
    height: 80px;
}
.width-80 {
    width: 80px;
}
.center, .table td.center, .table th.center {
    text-align: center;
}
#wrap .element-invisible {
    display: none;
}
/*SEARCH PAGE*/
.search .phrases .phrases-box .controls label {
    display: inline-block;
    margin: 0 20px 20px;
}
.search .only label {
    display: inline-block;
    margin: 0 20px 20px;
}
html {overflow-y: scroll }
body {
    background-color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
img {max-width: 100% }
#top {
    color: #ddd;
    font-size: 12px;
    line-height: 30px;
    padding-bottom: 4px;
    padding-top: 4px;
}
#top .container .separator {
    border-left: 1px solid #CCCCCC;
    display: inline-block;
    height: 10px;
    margin: 0 20px;
    width: 1px;
}
#navigation {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.navbar {border-radius: 0!important; margin-bottom: 0!important }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {outline: medium none }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {outline: medium none }
.navbar-nav > li > a {
    line-height: inherit !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent!important;
}
.dropdown-menu {
    padding: 0px!important;
    border-radius: 0!important;
}
.dropdown .dropdown-menu {
    display: block;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
.dropdown.open .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}
.navbar-right .dropdown-menu {
    left: 0 !important;
    right: auto !important;
}
#main-box {
    background: transparent none repeat scroll 0 0;
    border: 0px solid #E5E5E5; /* border 1, if you have front component*/
    margin-bottom: 20px;
    padding: 10px 0px;
}
#main {
    padding-top: 20px;
}
#breadcrumbs {
    background: #f5f5f5;
    padding: 20px 0 0;
}
.breadcrumb {
    border-radius: 0px;
    margin-bottom: 0;
}
#breadcrumbs .moduletable {
    margin-bottom: 0;
    padding: 0;
}
.toppad {
    padding-top: 40px;
}
#fullwidth {
    /*margin-top: -20px;*/
    overflow: hidden;
}
#fullwidth .moduletable {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
}
.black .moduletable {
    background: none repeat scroll 0 0 #222222;
    border-color: #222222;
    color: #AAAAAA;
}
.moduletable {
    margin-bottom: 20px;
    padding: 20px 10px;
}
.panel.moduletable {    padding: 0 }
.panel .moduletable {
    box-shadow: none;
    margin: 0px 10px;
    padding: 10px;
}
#brand {
    float: left;
    padding-left: 15px;
    padding-top: 5px;
}
#brand img {
    padding-bottom: 10px;
    padding-top: 20px;
}
.page-header {margin: 10px 0 20px!important; }
.hasTooltip {display: inline !important; }
.noMainbody {display: none !important; }
ul.unstyled,
ol.unstyled {
    list-style: outside none none;
    margin-left: 0;
    padding: 0;
}
.checkbox label, .radio label {
    padding-left: 20px;
    padding-right: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
label,
input,
button,
select,
textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 26px;
    font-family: arial;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {cursor: pointer }
.control-group input, .control-group textarea, .control-group .uneditable-input{/*width: 100% !important */}
.contact-form .control-group input, .contact-form .control-group textarea, .contact-form .control-group .uneditable-input {
    /*width: inherit;*/
}
input, textarea, .uneditable-input {
    /*width: 220px;*/
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0 3px 3px 0;
}
.input-append .add-on, .input-append .btn, .input-append .btn-group {
    margin-left: -1px;
}
.input-append .add-on, .input-append .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .add-on, .input-prepend .btn, .input-prepend .btn-group > .dropdown-toggle {
    border-radius: 0;
    vertical-align: top;
}
.email-copy-input {float: left }
#pop-print {
    float: right;
    margin: 10px;
}
div#jform_catid_chzn.chzn-container, div#jform_catid_chzn.chzn-container div.chzn-drop, div#jform_state_chzn.chzn-container, div#jform_state_chzn.chzn-container div.chzn-drop, div#jform_featured_chzn.chzn-container, div#jform_featured_chzn.chzn-container div.chzn- drop, div#jform_access_chzn.chzn-container, div#jform_access_chzn.chzn-container div.chzn-drop, div#jform_metadata_tags_chzn.chzn-container, div#jform_metadata_tags_chzn.chzn-container div.chzn-drop, div#jform_language_chzn.chzn- container, div#jform_language_chzn.chzn-container div.chzn-drop, div#jform_language_chzn.chzn-container, div#jform_tags_chzn.chzn-container {
    width: 260px !important;
}
.control-group {
    margin-bottom: 15px;
}
.btn.modal {
    bottom: auto;
    display: inline;
    left: auto;
    position: relative;
    top: auto;
}
#imageForm .well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
#imageForm .pull-right {
    float: right;
}
#imageForm .row::before, #imageForm .row::after {
    content: "";
    display: table;
    line-height: 0;
}
#imageForm .row::after {
    clear: both;
}
#imageForm .row::before, #imageForm .row::after {
    content: "";
    display: table;
    line-height: 0;
}
body #overall {
    height: auto;
    overflow: hidden;
}
#print {
    height: auto;
    overflow: hidden;
}
/*MATERIAL DESIGN*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
.muted {
    color: #999;
}
html,
body {
    height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
    height: auto !important;
    margin: 0 auto 0px;
    min-height: 100%;
}
body #wrap {
    padding-top: 90px;
}
#copy.well {
    border-radius: 0;
    border: 0;
    margin: 0;
}
#footer .moduletable {
    border: 0;
}
#main #container {
    background-color: #fff;
}
#push {    height: 60px }
/* LAYOUT */
/* Floats */
.float-left {float: left }
.float-right {float: right }
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {clear: both }
.ie7 .group {zoom: 1 }
/* JOOMLA */
.form-horizontal .control-label {text-align: inherit!important;}
i.icon-calendar:before {
	content: "\1f4c5";
	display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  top: 1px;
}
div.contact-form-field label,
div.message-label label {
display: inline !important;
}
div#jform_tags_chzn.chzn-container ul.chzn-choices li.search-field input.default {
    padding: 0;
}
.control-group input[type="checkbox"] {
    width: 10px!important;
}
.btn-toolbar {
    margin-bottom: 20px;
}
.nav.nav-tabs {
    margin-bottom: 20px;
}
/*ERROR*/
.error-page-inner {
    display: table;
    height: 100%;
    min-height: 100%;
    text-align: center;
    width: 100%;
}
.error-code {
    font-size: 96px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 10px;
    padding: 0;
}
.error-page-inner .fa.fa-exclamation-triangle {
    font-size: 96px;
    line-height: 1;
    margin-bottom: 10px;
}
/*MB STYLE*/
.title,.component-content h2 {
text-shadow:none;
}
.title-line {
background:none repeat scroll 0 0 #d1d1d1;
height:2px;
margin-bottom:20px;
width:100%;
}
.title-line span {
display:block;
height:2px;
width:90px;
background:#428bca;
}
.title1 .title-line,.title2 .title-line,.title3 .title-line,.title4 .title-line,.title6 .title-line,.box3 .title-line,.box4 .title-line {
display:none;
}
.title1 .title {
background:url(../images/bg-h3.gif) repeat-x scroll 0 100% transparent;
border-bottom:none;
padding-bottom:20px;
}
.title2 .title {
border-bottom:1px dashed #e5e5e5;
padding-bottom:15px;
margin-bottom:20px;
}
.title3 .title {
padding-bottom:15px;
margin-bottom:20px;
}
.title4 .title {
background:url(../images/divider.png) repeat-x scroll center center transparent;
border-bottom:none!important;
margin-bottom:25px;
}
.title4 .title span {
background:#ffffff;
padding-right:15px;
}
#rt-footer .title4 .title span {
background:#262626;
}
#rt-maintop .title4 .title span,#rt-bottom .title4 .title span {
background:#f6f6f6;
}
.title5 .title {
background:url(../images/cat-bg-repeat.png) repeat-x scroll center center transparent;
padding-bottom:0!important;
border-bottom:none!important;
}
.title > span {
    background: none repeat scroll 0 0 transparent;
}
span.fa {
    padding-right: 10px;
}
.title6 .title {
border-bottom:2px solid #1d6fa5;
padding-bottom:15px;
margin-bottom:20px;
}
.box1 .moduletable {
background:#eee;
}
.box2 .moduletable {
background:#363636;
    color: #adadad;
}
.blog-more {padding: 10px 5px }
/*TO TOP*/
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}
.back-to-top:hover {background-color: rgba(135, 135, 135, 0.50) }
.error .container {
    display: table;
    height: 100%;
    min-height: 100%;
    text-align: center;
    width: 100%;
    padding: 200px 0;
}
.error .container h1 {
    font-size: 140px;
}
.navbar-toggle {
    margin-top: 15px!important;
    padding: 15px!important;
    border: medium none!important;
	border-radius:0important;
}
/*for headroom.js*/
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.header {
    background-color: inherit;
    line-height: 60px;
}
.header__link {
    border: 0 none;
    color: #fff;
    text-decoration: none;
}
.header__link:focus {
    background-color: rgba(78, 205, 196, 0.1);
    outline: 0 none;
}
.header__link:hover .icon {
    color: #4ecdc4;
}
.header--fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
/*OFFLINE*/
#frame input.inputbox {
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
}
#frame {
    margin-top: 100px;
}
/* Media Queries */
/* Retina */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) { 
}
/* Landscape phones and down */
@media (max-width: 480px) {
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
.navbar-nav > li > a {
    line-height: 30px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.layout-boxed .header--fixed {
    width: 100%!important;
	left: auto!important;
    right: auto!important;
}
body #wrap {
    padding-top: 70px!important;
}
}
/* Portrait tablet to landscape and desktop */
@media (max-width: 992px) { 
}
/* Large desktop */
@media (min-width: 1200px) {
	section {
	margin-top: auto;
}
.layout-boxed .header--fixed {
    width: 1240px;
    left: auto;
    right: auto;
}
}
/* Fix disappearing tabs on editor page - Added by Waseem Sadiq 8th March 2015*/
.icons .btn-group,
.icons .btn-group a[data-toggle="tab"][aria-expanded="false"],
ul.nav-tabs > li > a[data-toggle="tab"][aria-expanded="false"]
{
    display:block!important;
}
